

/* theme css */
:root,
:host,
.sl-theme-default-light {
  --sl-color-brand-fill-quiet: var(--sl-color-violet-95);
  --sl-color-brand-fill-normal: var(--sl-color-violet-90);
  --sl-color-brand-fill-loud: var(--sl-color-violet-50);
  --sl-color-brand-border-quiet: var(--sl-color-violet-90);
  --sl-color-brand-border-normal: var(--sl-color-violet-80);
  --sl-color-brand-border-loud: var(--sl-color-violet-60);
  --sl-color-brand-on-quiet: var(--sl-color-violet-40);
  --sl-color-brand-on-normal: var(--sl-color-violet-30);
  --sl-color-brand-on-loud: white;

  --sl-color-focus: var(--sl-color-brand-fill-loud);
  --opposite-color-brand-on-normal: var(--sl-color-violet-70);
}
.sl-theme-default-dark {
  --sl-color-brand-fill-quiet: var(--sl-color-violet-05);
  --sl-color-brand-fill-normal: var(--sl-color-violet-10);
  --sl-color-brand-fill-loud: var(--sl-color-violet-50);
  --sl-color-brand-border-quiet: var(--sl-color-violet-10);
  --sl-color-brand-border-normal: var(--sl-color-violet-20);
  --sl-color-brand-border-loud: var(--sl-color-violet-40);
  --sl-color-brand-on-quiet: var(--sl-color-violet-60);
  --sl-color-brand-on-normal: var(--sl-color-violet-70);
  --sl-color-brand-on-loud: white;

  --sl-color-focus: var(--sl-color-brand-fill-loud);
  --opposite-color-brand-on-normal: var(--sl-color-violet-30);
}
.opposite-color {
  background-color: var(--sl-color-text-normal);
  color: var(--sl-color-surface-default);
}
.opposite-color a {
  color: var(--opposite-color-brand-on-normal);
}
/* good body style */
body {
  font-family: monospace;
}
/* body style from web awesome documentation page */
body {
  min-height: 100vh;
  font-size: var(--sl-font-size-m);
  line-height: var(--sl-line-height-normal);
  text-size-adjust: none;
  color: var(--sl-color-text-normal);
  padding: 0;
  margin: 0;
}
/* fade animation stuff (from web awesome documentation page) */
:not(:defined),
:not(:defined) * {
  opacity: 0;
}

:defined {
  opacity: 1;
  transition: 0.1s opacity;
}
/* main page padding */
#sl-page > main {
  max-width: 100ch;
  padding: var(--sl-space-xl);
}
#sl-page[view="desktop"] > main {
  padding: var(--sl-space-3xl);
}
/* anchor style */
a {
  color: var(--sl-color-brand-on-normal);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
/* sidebar stuff (mostly copied from web awesome documentation page)*/
#sidebar {
  /* padding: var(--sl-space-xl); */
  padding: 1.5rem;
}
#sidebar li {
  list-style: none;
}
#sidebar ul {
  border-inline-start: var(--sl-border-width-s) solid var(--sl-color-surface-border);
  padding-inline-start: var(--sl-space-m);
}
/* mobile stuff */
#sl-page[view="mobile"] .only-desktop {
  display: none!important;
}
#sl-page[view="desktop"] .only-mobile {
  display: none!important;
}
/* header image stuff */
#img-keys-a {display: flex; align-items: center;}
#img-keys-img {width: 17rem;}
#img-key-button {font-size: 3rem;}
/* site stuff */
.max-width-100{max-width:100%;}
/* mobile menu close button stuff (copied from web awesome documentation page) */
#sidebar-close-button {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/* top bar stuff */
#top-bar {
  /* padding: var(--sl-space-m); */
  padding: 1rem;
  display: flex;
  gap: var(--sl-spacing-m);
}
#color-scheme-selector {margin-inline-start: 1rem;}
#sl-page[view="desktop"] #top-bar {
  padding: var(--sl-space-m) var(--sl-space-3xl);
}
html.sl-theme-default-dark .only-light, html:not(.sl-theme-default-dark) .only-dark {
  display: none;
}
/* footer stuff */
#footer-open-source {
  padding: 1rem;
  text-align: center;
}
#footer-powered-by {
  padding: 1rem;
  text-align: center;
}
.display-flex {
  display: flex;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.inline-image {
  height: 1rem;
}

/* Shoelace items */
#site-page {
  display: block;
  box-sizing: border-box;
  height: 100%;
}
