

/* theme css */
:root {
  /* Changes the primary theme color to purple using primitives */
  --sl-color-primary-50: var(--sl-color-purple-50);
  --sl-color-primary-100: var(--sl-color-purple-100);
  --sl-color-primary-200: var(--sl-color-purple-200);
  --sl-color-primary-300: var(--sl-color-purple-300);
  --sl-color-primary-400: var(--sl-color-purple-400);
  --sl-color-primary-500: var(--sl-color-purple-500);
  --sl-color-primary-600: var(--sl-color-purple-600);
  --sl-color-primary-700: var(--sl-color-purple-700);
  --sl-color-primary-800: var(--sl-color-purple-800);
  --sl-color-primary-900: var(--sl-color-purple-900);
  --sl-color-primary-950: var(--sl-color-purple-950);
}

/* theme css */
:root,
:host,
.sl-theme-light {
  --opposite-color-brand-on-normal: var(--sl-color-purple-700);
}
.sl-theme-dark {
  --opposite-color-brand-on-normal: var(--sl-color-purple-300);
}

.opposite-color {
  background-color: var(--sl-color-neutral-1000);
  color: var(--sl-color-neutral-0);
}
.opposite-color a {
  color: var(--opposite-color-brand-on-normal);
}
/* good body style */
body {
  font-family: monospace;
}
/* body style from web awesome documentation page */
body {
  min-height: 100vh;
  font-size: var(--sl-font-size-m);
  line-height: var(--sl-line-height-normal);
  text-size-adjust: none;
  color: var(--sl-color-text-normal);
  padding: 0;
  margin: 0;
}
/* fade animation stuff (from web awesome documentation page) */
:not(:defined),
:not(:defined) * {
  opacity: 0;
}

:defined {
  opacity: 1;
  transition: 0.1s opacity;
}
/* main page padding */
#sl-page > main {
  max-width: 100ch;
  padding: var(--sl-space-xl);
}
#sl-page[view="desktop"] > main {
  padding: var(--sl-space-3xl);
}
/* anchor style */
a {
  color: var(--sl-color-brand-on-normal);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
/* sidebar stuff (mostly copied from web awesome documentation page)*/
#sidebar {
  /* padding: var(--sl-space-xl); */
  padding: 1.5rem;
}
#sidebar li {
  list-style: none;
}
#sidebar ul {
  border-inline-start: var(--sl-border-width-s) solid var(--sl-color-surface-border);
  padding-inline-start: var(--sl-space-m);
}
/* mobile stuff */
/* header image stuff */
#img-keys-a {display: flex; align-items: center;}
#img-keys-img {width: 17rem;}
#img-key-button {font-size: 3rem;}
/* site stuff */
.max-width-100{max-width:100%;}
/* mobile menu close button stuff (copied from web awesome documentation page) */
#sidebar-close-button {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/* top bar stuff */
#top-bar {
  /* padding: var(--sl-space-m); */
  padding: 1rem;
  display: flex;
  gap: var(--sl-spacing-m);
}
#color-scheme-selector {margin-inline-start: 1rem;}
#sl-page[view="desktop"] #top-bar {
  padding: var(--sl-space-m) var(--sl-space-3xl);
}
html.sl-theme-dark .only-light, html:not(.sl-theme-dark) .only-dark {
  display: none;
}
/* footer stuff */
#footer-open-source {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
#footer-open-source sl-icon {
  font-size: 10rem;
  padding: 0 1rem;
}

#footer-powered-by {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
#footer-powered-by img {
  height: 8rem;
  padding: 0 1rem;
}

#footer-generated-by {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
#footer-generated-by img {
  height: 2rem;
  padding: 0 1rem;
}

.display-flex {
  display: flex;
}
.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.inline-image {
  height: 1rem;
}

/* layout items */
@media (max-width:600px){
  .hide-mobile{display:none!important}
}
@media (min-width:601px){
  .hide-desktop{display:none!important}
}
#site-page {
  display: block;
  box-sizing: border-box;
  height: 100%;
}
.float-left {
  float: left;
}
footer {
  clear: both;
}
