{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}

wa-button::part(base), wa-details::part(base) {
  background: linear-gradient(130deg, var(--wa-color-pink-50), var(--wa-color-purple-40));
  color: white;
  &:is(wa-button, wa-dialog)::part(base) {
    border: solid 1px var(--wa-color-pink-30);
  }
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ result.title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="wa-stack pink-purple-background-headers ">

          <wa-card class="pink-purple-background ">
            <div class="main-content ">
              <div class="wa-flank ">
                <i class="fa-duotone fa-regular fa-browser fa-7x "></i>
                <div>
                  <h2>
                    Learn how to deploy open source smart device microservices to the cloud
                  </h2>
                  <h1>
                    with the {{ result.name }}
                  </h1>
                </div>
              </div>
              <wa-card>
                {% if userName is defined %}
                {% if scopes is defined and "GET" in scopes %}
                <div class="wa-stack ">
                  <div>Download your copy of the {{ result.name }}! </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.downloadUrl }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Download
                    </wa-button>
                  </div>
                </div>
                {% else %}
                <div class="wa-stack ">
                  <div>You will use your GitHub username shown in the menu during checkout. </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.storeUrl }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Order here
                    </wa-button>
                  </div>
                </div>
                {% endif %}
                {% else %}
                <div class="wa-stack ">
                  <div>Want to get started with the {{ result.name }}? Start by logging into computate.org with your GitHub account. </div>
                  <div>
                      <wa-button pill size="large" id="order-button" class="gradient-button pink-purple-background" href="{{ result.userPage }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-right-to-bracket"></i>
                      Log in with GitHub
                    </wa-button>
                  </div>
                </div>
                {% endif %}
              </wa-card>
            </div>
          </wa-card>

          <wa-card class="red-pink-background background border-radius-x-large ">
            <div class="wa-grid ">
              <div>
              <div class="wa-crown">
                <h1>
                  <i class="fa-duotone fa-regular fa-video fa-2x "></i>
                  System requirements
                </h1>
              </div>
              <h2>
                The {{ result.name }} is an open source project builder that runs on a Linux x86_64 computer. 
                Supported Linux distributions include: 
              </h2>

              <ul>
                <li>
                  <i class="fa-brands fa-redhat fa-2xl fa-red" style="color: red; "></i>
                  Red Hat Enterprise Linux 9
                </li>
                <li>
                  <i class="fa-brands fa-centos fa-2xl "></i>
                  CentOS Stream 9
                </li>
                <li>
                  <i class="fa-brands fa-fedora fa-2xl "></i>
                  Fedora 34+
                </li>
                <li>
                  Other Linux distros may also be supported
                </li>
              </ul>
              </div>
              <wa-card class="zoom-details ">
                <div class="wa-stack ">
                  <div>
                    Microsoft Windows and MacOSX users can also start computating with the very similar Smart Aquaculture Cloud Sandbox course. 
                    This course runs entirely in the cloud to allow all users access to the same tools. 
                    Try the <a href="{{ SITE_BASE_URL }}/en-us/shop/course/smart-aquaculture-cloud-sandbox">Smart Aquaculture Cloud Sandbox course</a>. 
                  </div>
                  <div>
                    <wa-button pill id="order-button" size="large" class="gradient-button red-pink-background" href="{{ SITE_BASE_URL }}/en-us/shop/course/smart-aquaculture-cloud-sandbox" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Try the course
                    </wa-button>
                  </div>
                  <div>
                    If you are ready to back up the files on your computer and switch to Linux, 
                    just like I did back in the year 2005, 
                    read my article about how to <a href="{{ SITE_BASE_URL }}/en-us/article/choose-your-operating-system">choose your operating system</a>. 
                  </div>
                  <div>
                    <wa-button pill id="order-button" size="large" class="gradient-button red-pink-background" href="{{ SITE_BASE_URL }}/en-us/article/choose-your-operating-system" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Switch to Linux
                    </wa-button>
                  </div>
                  <div>
                    If you are already running a supported version of Linux, 
                  </div>
                  <div>
                    <wa-button pill id="order-button" size="large" class="gradient-button red-pink-background" href="#install-python-prerequisites" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Continue with the {{ result.name }}
                    </wa-button>
                  </div>
                </div>
              </wa-card>

            </div>
          </wa-card>

          <wa-card class="purple-blue-background ">
            <div class="main-content ">
              <div class="wa-flank">
                <i class="fa-duotone fa-regular fa-video fa-2x "></i>
                <h1>
                  Watch the free Smart Aquaculture webinar on Zoom or live streaming to Youtube. 
                </h1>
              </div>
              <div class="wa-stack ">
                <div class="wa-flank">
                  <p>
                    Watch the smart-aquaculture project use the Computate Smart Cloud Deployer to deploy all the required microservices to the cloud, 
                    then do live development adding new features to the smart-aquaculture project in OpenShift AI VSCode Java Workbench. 
                  </p>
                </div>
                <h3 class="brand-font">
                  The {{ result.name }} series will occur live on Monday, Tuesday, Wednesday, and Thursday at 1:30 pm Eastern US time. 
                </h3>

                <wa-card class="wa-stack ">
                  <div class="wa-flank zoom-link font-size-large">
                    <i class="fa-duotone fa-regular fa-earth-americas fa-xl"></i>
                  <div class="wa-flank ">
                      <wa-button id="webinar-button" class="gradient-button blue-teal-background" href="{{ SITE_BASE_URL }}/en-us/view/webinar/smart-aquaculture-webinar" variant="neutral">
                        <i class="fa-duotone fa-regular fa-video"></i>
                        Learn more
                      </wa-button>
                      <div>
                        <div class="font-size-x-small">
                          Monday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Tuesday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Thursday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Friday 1:30 PM Eastern US time
                        </div>
                      </div>
                    </div>
                  </div>

                </wa-card>
              </div>
            </div>
          </wa-card>

          <wa-card with-header class="summary-wrapper">
            <div slot="header" class="main-content ">
              <h1 id="whats-web-awesome">
                What is the {{ result.name }}?
              </h1>
              <p>
                Learn how to deploy open source smart device microservices to the cloud and try out your own secure IoT smart platform with built-in security. 
              </p>
            </div>

            <div class="main-content ">
              <div class="wa-stack ">
                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-code"></i>
                    <h3>
                      Modern development tools
                    </h3>
                  </div>
                  <p>
                    Learn how to install all the latest cloud deployment tools on your own computer like VSCode, Jupyter, Ansible, Helm, and OpenShift command line interface, 
                    and start deploying microservices to the cloud like a modern cloud developer. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Cloud-native microservices
                    </h3>
                  </div>
                  <p>
                    Deploy modern microservices to an OpenShift Local environment on your own laptop in development, or in production. 
                    Applications include FIWARE IoT Agent JSON, ScorpioBroker FIWARE Context Broker, certificate management, event bus application clustering, databases, a search engine, and single sign-on server for securing and scaling your data-driven website. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Cloud-native microservices
                    </h3>
                  </div>
                  <p>
                    Deploy modern open source microservices including 
                    Cert Manager for TLS site certificates, Apache Zookeeper cluster manager, Apache Solr search engine, PostgreSQL relational database, MongoDB No-SQL database, RabbitMQ message broker, Keycloak single sign-on authentication and authorization, and reactive—event bus driven applications. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Manage cloud secrets
                    </h3>
                  </div>
                  <p>
                    Learn how to configure secrets in the cloud that allow applications to connect to each other securely. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Configure relational databases
                    </h3>
                  </div>
                  <p>
                    Set up access to a new database for your applications. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Configure fine-grain authorization to data
                    </h3>
                  </div>
                  <p>
                    Create authentication realms, clients, OAuth identity providers, and fine-grain resources, scopes, policies, and permissions to data and dashboards. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Connect it all together by deploying a complete data-driven website
                    </h3>
                  </div>
                  <p>
                    Learn how to configure and deploy a custom data-driven website like computate.org with articles, events, courses, products, services, and smart data models, so that you can do it yourself. 
                  </p>
                </div>

              </div>
            </div>
          </wa-card>
        </div>
{% endblock %}
