{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}

wa-button::part(base), wa-details::part(base) {
  background: linear-gradient(130deg, var(--wa-color-pink-50), var(--wa-color-purple-40));
  color: white;
  &:is(wa-button, wa-dialog)::part(base) {
    border: solid 1px var(--wa-color-pink-30);
  }
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ result.title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="wa-stack pink-purple-background-headers ">

          <wa-card class="pink-purple-background ">
            <div class="main-content ">
              <div>Are you a software developer interested in building digital twins, or a custom website? </div>
              <div class="wa-flank ">
                <i class="fa-duotone fa-regular fa-browser fa-8x "></i>
                <div>
                  <h1>
                        Build a custom data-driven website for your own ideas on your own computer
                  </h1>
                  <h2>
                    with the {{ result.name }}
                  </h2>
                </div>
              </div>
              <wa-card>
                {% if userName is defined %}
                {% if scopes is defined and "GET" in scopes %}
                <div class="wa-stack ">
                  <div>Download your copy of the {{ result.name }}! </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.downloadUrl }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Download
                    </wa-button>
                  </div>
                </div>
                {% else %}
                <div class="wa-stack ">
                  <div>You will use your GitHub username shown in the menu during checkout. </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.storeUrl }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Order here
                    </wa-button>
                  </div>
                </div>
                {% endif %}
                {% else %}
                <div class="wa-stack ">
                  <div>Want to get started with the {{ result.name }}? Start by logging into computate.org with your GitHub account. </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.userPage }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-right-to-bracket"></i>
                      Log in with GitHub
                    </wa-button>
                  </div>
                </div>
                {% endif %}
              </wa-card>
            </div>
          </wa-card>

          <wa-card class="red-pink-background ">
            <div class="wa-grid ">
              <div class="wa-stack ">

              <div class="wa-crown">
                <h1>
                  <i class="fa-duotone fa-regular fa-video fa-2x "></i>
                  System requirements
                </h1>
              </div>
              <h2>
                The {{ result.name }} is an open source project builder that runs on a Linux x86_64 computer. 
                Supported Linux distributions include: 
              </h2>

              <ul>
                <li>
                  <i class="fa-brands fa-redhat fa-2xl fa-red" style="color: red; "></i>
                  Red Hat Enterprise Linux 9
                </li>
                <li>
                  <i class="fa-brands fa-centos fa-2xl "></i>
                  CentOS Stream 9
                </li>
                <li>
                  <i class="fa-brands fa-fedora fa-2xl "></i>
                  Fedora 34+
                </li>
                <li>
                  Other Linux distros may also be supported
                </li>
              </ul>
              </div>

              <wa-card>
                <div class="wa-stack ">
                  <div>
                    Microsoft Windows and MacOSX users can also start computating with the very similar Smart Aquaculture Cloud Sandbox course. 
                    This course runs entirely in the cloud to allow all users access to the same tools. 
                    Try the <a href="{{ SITE_BASE_URL }}/en-us/shop/course/smart-aquaculture-cloud-sandbox">Smart Aquaculture Cloud Sandbox course</a>. 
                  </div>
                  <div>
                    <wa-button pill id="order-button" size="large" class="gradient-button red-pink-background" href="{{ SITE_BASE_URL }}/en-us/shop/course/smart-aquaculture-cloud-sandbox" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Try the course
                    </wa-button>
                  </div>
                  <div>
                    If you are ready to back up the files on your computer and switch to Linux, 
                    just like I did back in the year 2005, 
                    read my article about how to <a href="{{ SITE_BASE_URL }}/en-us/article/choose-your-operating-system">choose your operating system</a>. 
                  </div>
                  <div>
                    <wa-button pill id="order-button" size="large" class="gradient-button red-pink-background" href="{{ SITE_BASE_URL }}/en-us/article/choose-your-operating-system" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Switch to Linux
                    </wa-button>
                  </div>
                </div>
              </wa-card>

            </div>
          </wa-card>

          <wa-card class="pink-purple-background border-radius-x-large">
            <div class="main-content wa-stack ">
              <div class="wa-flank ">
                <i class="fa-duotone fa-regular fa-conveyor-belt fa-8x "></i>
                <h2>
                  The prerequisite to using this product is to start with the 
                  Computate Smart Cloud Deployer to build your cloud development environment. 
                </h2>
                  </div>
              <h1>
                Learn how to deploy open source smart device microservices to the cloud
                with the Computate Smart Cloud Deployer
              </h1>
              <wa-card>
                <div class="wa-stack ">
                  <div>
                    <wa-button pill id="order-button" size="large" class="gradient-button pink-purple-background" href="{{ SITE_BASE_URL }}/en-us/product/computate-smart-cloud-deployer" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      Get the prerequisite
                    </wa-button>
                  </div>
                </div>
              </wa-card>

            </div>
          </wa-card>

          <wa-card with-header>
            <div slot="header" class="main-content ">
              <h2>
                What is the {{ result.name }}?
              </h2>
              <p>
                Teaching tools and automation for easily building a custom website with the models and data that you care about using the best in open source software. 
              </p>
            </div>

            <div class="main-content wa-stack ">
                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-code"></i>
                    <h3>
                      Modern development tools
                    </h3>
                  </div>
                  <p>
                  Use VSCode and interactive Jupyter notebooks 
                  to start writing code like a real cloud-native developer. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                      Cloud-native microservices
                    </h3>
                  </div>
                  <p>
                  Deploy cloud microservices in a Red Hat OpenShift Local cloud environment on your own computer 
                  for certificate management, event bus application clustering, databases, a search engine, and single sign-on server for securing and scaling your data-driven website. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                    Automate tasks
                    </h3>
                  </div>
                <div>
                  Use Ansible automation to generate all of the boilerplate code for your Smart Aquaculture site, and customize it along the way. 
                </div>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                    Learn reactive programming
                    </h3>
                  </div>
                <div>
                  Learn how to build reactive asynchronous Java code, OpenAPIs, database scripts, and Smart Aquaculture data. 
                </div>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                    Build interactive dashboards
                    </h3>
                  </div>
                <div>
                  Visualize your Smart Aquaculture data in event-driven, interactive dashboards and maps. 
                </div>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                    <h3>
                    Cloud-native microservices
                    </h3>
                  </div>
                <div>
                  Interact with modern microservices in the cloud like: 
                </div>
                <ol>
                  <li>
                    PostgreSQL Database for transactional data storage
                  </li>
                  <li>
                    Apache Zookeeper Cluster Manager for event bus messaging
                  </li>
                  <li>
                    Apache Solr Search Engine for autosuggest and searchable APIs
                  </li>
                  <li>
                    Keycloak Single Sign-On for fine-grain access control to Smart Aquaculture data
                  </li>
                  <li>
                    FIWARE Context Broker for open source IoT edge device standards
                  </li>
                </ol>
              </div>

            </div>
          </wa-card>

          <wa-card class="purple-blue-background ">
            <div class="main-content ">
              <div class="wa-flank">
                <i class="fa-duotone fa-regular fa-video fa-2x "></i>
                <h1>
                  Watch the free Computate AI Developer Webinar on Zoom or live streaming to Youtube. 
                </h1>
              </div>
              <div class="wa-stack ">
                <div class="wa-flank">
                  <p>
                    Watch the smart-aquaculture project use the Computate Smart Cloud Deployer to deploy all the required microservices to the cloud, 
                    then do live development adding new features to the smart-aquaculture project in OpenShift AI VSCode Java Workbench. 
                  </p>
                </div>
                <h3 class="brand-font">
                  The {{ result.name }} series will occur live on Monday, Tuesday, Wednesday, and Thursday at 4:00 PM Eastern US time. 
                </h3>

                <wa-card class="wa-stack ">
                  <div class="wa-flank zoom-link font-size-large">
                    <i class="fa-duotone fa-regular fa-earth-americas fa-xl"></i>
                  <div class="wa-flank ">
                      <wa-button id="webinar-button" class="gradient-button blue-teal-background" href="{{ SITE_BASE_URL }}/en-us/view/webinar/smart-aquaculture-webinar" variant="neutral">
                        <i class="fa-duotone fa-regular fa-video"></i>
                        Learn more
                      </wa-button>
                      <div>
                        <div class="font-size-x-small">
                          Monday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Monday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Wednesday 12:00 PM noon Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Thursday 10:30 AM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Friday 1:30 PM Eastern US time
                        </div>
                      </div>
                    </div>
                  </div>

                </wa-card>
              </div>
            </div>
          </wa-card>

          <wa-card class="pink-purple-background">
            <div class="main-content wa-stack ">
              <div class="wa-flank ">
                <i class="fa-duotone fa-regular fa-browser fa-8x "></i>
                <div>
                  <h1>
                    Build a custom data-driven website for your own ideas
                  </h1>
                  <h2>
                    with the {{ result.name }}
                  </h2>
                </div>
              </div>
              <wa-card>
                <div class="wa-stack ">
                  <div>Want to get started with the {{ result.name }}? Start by logging into computate.org with your GitHub account. </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.userPage }}" variant="neutral">
                      <i class="fa-duotone fa-regular fa-right-to-bracket"></i>
                      Log in with GitHub
                    </wa-button>
                  </div>
                </div>
              </wa-card>
            </div>
          </wa-card>
        </div>
{% endblock %}
