{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleSmartAgricultureDeveloperPage %}
    <title>{% if resultCount == 0 %}no Smart Agriculture Developer found{% else %}Smart Agriculture Developers{% endif %}</title>
{%- endblock htmTitleSmartAgricultureDeveloperPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/smart-agriculture-developer/SmartAgricultureDeveloper.css"/>
{%- block htmStylesSmartAgricultureDeveloperPage %}
{%- endblock htmStylesSmartAgricultureDeveloperPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleSmartAgricultureDeveloperPage %}
{%- endblock htmStyleSmartAgricultureDeveloperPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsSmartAgricultureDeveloperPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/smart-agriculture-developer/SmartAgricultureDeveloper.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperSearchPage.js"></script>
{%- endblock htmScriptsSmartAgricultureDeveloperPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptSmartAgricultureDeveloperPage %}
    <script>

      function jsWebsocketSmartAgricultureDeveloper(pageId, vars, $response) {
{%- block jsWebsocketSmartAgricultureDeveloperPage %}{%- endblock %}
      }

      function jsTooltipSmartAgricultureDeveloper(e, feature) {
{%- block jsTooltipSmartAgricultureDeveloperPage %}{%- endblock %}
      }

      function htmTooltipSmartAgricultureDeveloper(feature, layer) {
        return `{%- block htmTooltipSmartAgricultureDeveloperPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipSmartAgricultureDeveloperPage %}`;
      }

      function facetChangeSmartAgricultureDeveloperSuccess(e) {
        var l = e.querySelector('.pageForm .listSmartAgricultureDeveloper')?.value;
        if(l)
          window.listSmartAgricultureDeveloper = JSON.parse(l);
{% block facetChangeSmartAgricultureDeveloperSuccess %}{%- endblock facetSmartAgricultureDeveloperSuccess %}
      }
      function facetChangeSmartAgricultureDeveloperError(e) {
{% block facetChangeSmartAgricultureDeveloperError %}{%- endblock facetSmartAgricultureDeveloperError %}
      }

      function facetSimpleRangeSmartAgricultureDeveloperSuccess(e) {
{% block facetSimpleRangeSmartAgricultureDeveloperSuccess %}      facetChangeSmartAgricultureDeveloperSuccess(e);{% endblock facetSimpleRangeSmartAgricultureDeveloperSuccess %}
      }
      function facetSimpleRangeSmartAgricultureDeveloperError(e) {
{% block facetSimpleRangeSmartAgricultureDeveloperError %}      facetChangeSmartAgricultureDeveloperError(e);{% endblock facetSimpleRangeSmartAgricultureDeveloperError %}
      }
      function facetSimpleRangeSmartAgricultureDeveloper(e) {
        facetSimpleRange(e, facetSimpleRangeSmartAgricultureDeveloperSuccess, facetSimpleRangeSmartAgricultureDeveloperError);
      }

      function facetRangeTimeZoneSmartAgricultureDeveloperSuccess(e) {
{% block facetRangeTimeZoneSmartAgricultureDeveloperSuccess %}      facetChangeSmartAgricultureDeveloperSuccess(e);{% endblock facetRangeTimeZoneSmartAgricultureDeveloperSuccess %}
      }
      function facetRangeTimeZoneSmartAgricultureDeveloperError(e) {
{% block facetRangeTimeZoneSmartAgricultureDeveloperError %}      facetChangeSmartAgricultureDeveloperError(e);{%- endblock facetRangeTimeZoneSmartAgricultureDeveloperError %}
      }
      function facetRangeTimeZoneSmartAgricultureDeveloper(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneSmartAgricultureDeveloperSuccess, facetRangeTimeZoneSmartAgricultureDeveloperError);
      }

      function facetRangeGapChangeSmartAgricultureDeveloperSuccess(e) {
{% block facetRangeGapChangeSmartAgricultureDeveloperSuccess %}      facetChangeSmartAgricultureDeveloperSuccess(e);{% endblock facetRangeGapChangeSmartAgricultureDeveloperSuccess %}
      }
      function facetRangeGapChangeSmartAgricultureDeveloperError(e) {
{% block facetRangeGapChangeSmartAgricultureDeveloperError %}      facetChangeSmartAgricultureDeveloperError(e);{%- endblock facetRangeGapChangeSmartAgricultureDeveloperError %}
      }
      function facetRangeGapChangeSmartAgricultureDeveloper(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeSmartAgricultureDeveloperSuccess, facetRangeGapChangeSmartAgricultureDeveloperError);
      }

      function facetRangeStartChangeSmartAgricultureDeveloperSuccess(e) {
{% block facetRangeStartChangeSmartAgricultureDeveloperSuccess %}      facetChangeSmartAgricultureDeveloperSuccess(e);{% endblock facetRangeStartChangeSmartAgricultureDeveloperSuccess %}
      }
      function facetRangeStartChangeSmartAgricultureDeveloperError(e) {
{% block facetRangeStartChangeSmartAgricultureDeveloperError %}      facetChangeSmartAgricultureDeveloperError(e);{%- endblock facetRangeStartChangeSmartAgricultureDeveloperError %}
      }
      function facetRangeStartChangeSmartAgricultureDeveloper(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeSmartAgricultureDeveloperSuccess, facetRangeStartChangeSmartAgricultureDeveloperError);
      }

      function facetRangeEndChangeSmartAgricultureDeveloperSuccess(e) {
{% block facetRangeEndChangeSmartAgricultureDeveloperSuccess %}      facetChangeSmartAgricultureDeveloperSuccess(e);{% endblock facetRangeEndChangeSmartAgricultureDeveloperSuccess %}
      }
      function facetRangeEndChangeSmartAgricultureDeveloperError(e) {
{% block facetRangeEndChangeSmartAgricultureDeveloperError %}      facetChangeSmartAgricultureDeveloperError(e);{%- endblock facetRangeEndChangeSmartAgricultureDeveloperError %}
      }
      function facetRangeEndChangeSmartAgricultureDeveloper(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeSmartAgricultureDeveloperSuccess, facetRangeEndChangeSmartAgricultureDeveloperError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listSmartAgricultureDeveloper')?.value;
        if(l)
          window.listSmartAgricultureDeveloper = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneSmartAgricultureDeveloper);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneSmartAgricultureDeveloper);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneSmartAgricultureDeveloper);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeSmartAgricultureDeveloper);
        pageGraphSmartAgricultureDeveloper();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qSmartAgricultureDeveloper_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('SmartAgricultureDeveloper', event.target, document.querySelector('#qSmartAgricultureDeveloperDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qSmartAgricultureDeveloper_rows')?.addEventListener('change', event => {
          paramChange('SmartAgricultureDeveloper', event.target, document.querySelector('#qSmartAgricultureDeveloperDiv_rows'));
        });

        document.querySelector('#qSmartAgricultureDeveloper_start')?.addEventListener('change', event => {
          paramChange('SmartAgricultureDeveloper', event.target, document.querySelector('#qSmartAgricultureDeveloperDiv_start'));
        });


        var submitForm_patchSmartAgricultureDeveloper = document.querySelector('#htmForm_patchSmartAgricultureDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchSmartAgricultureDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          patchSmartAgricultureDeveloper(null, document.querySelector('#htmForm_patchSmartAgricultureDeveloper')
              , document.querySelector('#htmFormButton_patchSmartAgricultureDeveloper')
              , event.target.getAttribute('data-pageId')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_postSmartAgricultureDeveloper = document.querySelector('#htmForm_postSmartAgricultureDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postSmartAgricultureDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          postSmartAgricultureDeveloper(document.querySelector('#htmForm_postSmartAgricultureDeveloper')
              , document.querySelector('#htmFormButton_postSmartAgricultureDeveloper')
              , (json, target) => {
            window.location.href = json.editPage;
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deleteSmartAgricultureDeveloper = document.querySelector('#htmForm_deleteSmartAgricultureDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteSmartAgricultureDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deleteSmartAgricultureDeveloper(event.target, event.target.getAttribute('data-pageId')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_putimportSmartAgricultureDeveloper = document.querySelector('#htmForm_putimportSmartAgricultureDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportSmartAgricultureDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          putimportSmartAgricultureDeveloper(document.querySelector('#htmForm_putimportSmartAgricultureDeveloper')
              , document.querySelector('#htmFormButton_putimportSmartAgricultureDeveloper')
              , event.target.getAttribute('data-pageId')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_searchpageSmartAgricultureDeveloper = document.querySelector('#htmForm_searchpageSmartAgricultureDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageSmartAgricultureDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          searchpageSmartAgricultureDeveloper();
          return false;
        });

        var submitForm_deletefilterSmartAgricultureDeveloper = document.querySelector('#htmForm_deletefilterSmartAgricultureDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterSmartAgricultureDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deletefilterSmartAgricultureDeveloper(event.target
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });
{%- block htmScriptInitSmartAgricultureDeveloperPage %}{%- endblock htmScriptInitSmartAgricultureDeveloperPage %}
      });
    </script>
{%- endblock htmScriptSmartAgricultureDeveloperPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketSmartAgricultureDeveloperPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketSmartAgricultureDeveloper(websocketSmartAgricultureDeveloperInner);
{% endif %}
{%- endblock websocketSmartAgricultureDeveloperPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlSmartAgricultureDeveloperPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlSmartAgricultureDeveloperPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-SmartAgricultureDeveloper">back to all Smart Agriculture Developers</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-SmartAgricultureDeveloper" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="{{ FONTAWESOME_STYLE }} fa-building-wheat"></i>
                  all Smart Agriculture Developers
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search Smart Agriculture Developers
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartSmartAgricultureDeveloperPage %}
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-SmartAgricultureDeveloper">back to all Smart Agriculture Developers</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-SmartAgricultureDeveloper" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-building-wheat"></i>
              all Smart Agriculture Developers
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no Smart Agriculture Developer found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="{{ FONTAWESOME_STYLE }} fa-building-wheat"></i>
            </div>
            <span class="wa-heading-m ">no Smart Agriculture Developer found</span>
            <p class="wa-caption-l ">Learn how to become a Smart Agriculture platform developer — Understanding farms, crops, and weather. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/smart-agriculture-developer" id="SmartAgricultureDeveloperForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listSmartAgricultureDeveloper" id="listSmartAgricultureDeveloper" class="listSmartAgricultureDeveloper"  value='{{ toJsonArrayStringInApostrophes(listSmartAgricultureDeveloper) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperSearchForm.htm %}
{%- endblock htmBodyStartSmartAgricultureDeveloperPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleSmartAgricultureDeveloperPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-name">
                      <wa-button variant="brand" slot="trigger" caret>course name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSmartAgricultureDeveloper_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SmartAgricultureDeveloper').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by course name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSmartAgricultureDeveloper_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SmartAgricultureDeveloper').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by course name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>course description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSmartAgricultureDeveloper_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SmartAgricultureDeveloper').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by course description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSmartAgricultureDeveloper_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SmartAgricultureDeveloper').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by course description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listSmartAgricultureDeveloper%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="{{ FONTAWESOME_STYLE }} fa-building-wheat"></i>
                      <span>{{ item.name | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperPaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleSmartAgricultureDeveloperPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndSmartAgricultureDeveloperPage %}
{%- include en-us/search/smart-agriculture-developer/SmartAgricultureDeveloperLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndSmartAgricultureDeveloperPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
