{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="FIWARE Kubernetes deployment at FIWARE Summit 2024 in Naples, Italy"/>
    <meta name="result.description" content="Learn how to deploy FIWARE microservices and Smart Data Models on Red Hat OpenShift and Kubernetes at the FIWARE Summit 2024 in Naples, italy"/>
    <meta name="result.startDateTime" content="2024-09-19T09:30:00.000[Europe/Rome]"/>
    <meta name="result.endDateTime" content="2024-09-19T05:30:00.000[Europe/Rome]"/>
    <meta name="result.location" content="40.82273804945859, 14.18780229024438"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="pink-purple-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-regular fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Learn how to deploy open source smart device microservices based on the FIWARE IoT device standards like NGSI-LD to the cloud
            </h1>
            <h2 class="brand-font">
              with the {{ result.name }}
            </h2>
            <div class="intro-details">
              <div>
                This course will become available for participants at the 
                <a href="https://www.eventbrite.de/e/fiware-tech-training-naples-tickets-920143322447">FIWARE Summit Technical Training</a>
                in Naples, Italy September 18 2024 · 9:30am – September 19 · 5:30pm CEST 
              </div>
              <wa-button id="order-button" class="gradient-button pink-purple-background" variant="neutral" href="https://www.eventbrite.de/e/fiware-tech-training-naples-tickets-920143322447">
                <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                Register for the training
              </wa-button>
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ result.name }}?
            </h2>
            <p>
              Learn how to deploy open source smart device microservices to the cloud and try out your own secure IoT smart platform with built-in security. 
            </p>

            <div class="summary-grid">
              <div>
                <div class="icon-heading">
                  <i class="fa-duotone fa-regular fa-code"></i>
                  <h3>
                    Modern development tools
                  </h3>
                </div>
                <p>
                  Learn how to install all the latest cloud deployment tools on your own computer like VSCode, Jupyter, Ansible, Helm, and OpenShift command line interface, 
                  and start deploying microservices to the cloud like a modern cloud developer. 
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                  <h3>
                    Cloud-native microservices
                  </h3>
                </div>
                <p>
                  Deploy modern microservices to an OpenShift Local environment on your own laptop in development, or in production. 
                  Applications include FIWARE IoT Agent JSON, ScorpioBroker FIWARE Context Broker, certificate management, event bus application clustering, databases, a search engine, and single sign-on server for securing and scaling your data-driven website. 
                </p>
              </div>
            </div>

          </div>
        </div>
{% endblock %}
