{% extends "en-us/CompanyEvent.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="FIWARE Kubernetes deployment at FIWARE Summit 2024 in Naples, Italy"/>
    <meta name="result.description" content="Learn how to deploy FIWARE microservices and Smart Data Models on Red Hat OpenShift and Kubernetes at the FIWARE Summit 2024 in Naples, italy"/>
    <meta name="result.startDateTime" content="2024-09-19T09:30:00.000[Europe/Rome]"/>
    <meta name="result.endDateTime" content="2024-09-19T05:30:00.000[Europe/Rome]"/>
    <meta name="result.location" content="40.82273804945859, 14.18780229024438"/>
    <meta name="result.pageImageUri" content='/event/{{ result.pageId }}/fiware-summit-2024-technical-workshop.jpg'/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
