{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="Smart Aquaculture Code Generation Workshop at the NEDSI 2025 conference in Hershey, Pennsylvania"/>
    <meta name="result.description" content="Join our hands-on developer workshop for generating your own customizable Smart Aquaculture platform in the cloud"/>
    <meta name="result.startDateTime" content="2025-03-27T09:00:00.000[America/New_York]"/>
    <meta name="result.endDateTime" content="2025-03-29T17:00:00.000[America/New_York]"/>
    <meta name="result.location" content="40.28517912425559, -76.6521018627664"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="pink-purple-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Learn how to deploy open source smart aquaculture microservices with generative AI in the cloud
            </h1>
            <h2 class="brand-font">
              with the {{ name }}
            </h2>
            <div class="intro-details">
              <div>
                This course will become available for participants at the 
                <a href="https://nedsi.decisionsciences.org/registration/">2025 Northeast Decision Sciences Institute Annual Conference</a>
                in Hershey, Pennsylvania, USA Thursday March 27, 2025 — Saturday March 29, 2025 
              </div>
              <wa-button id="order-button" class="gradient-button pink-purple-background" variant="neutral" href="https://members.decisionsciences.org/ap/Events/Register/zBFQ05lcgCACR">
                <i class="fa-solid fa-person-running-fast"></i>
                Register for the workshop
              </wa-button>
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ name }}?
            </h2>
            <p>
              Learn how to develop custom Smart Aquaculture data-driven websites and open APIs in the cloud, 
              and build your own secure IoT smart platform with generative AI, zero-trust access control, and interactive dashboards. 
            </p>

            <div class="summary-grid">
              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Modern development tools
                  </h3>
                </div>
                <div>
                  Access your VSCode developer workbench in the browser, it doesn't matter your laptop's operating system. 
                </div>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Automate tasks
                  </h3>
                </div>
                <div>
                  Use Ansible automation to generate all of the boilerplate code for your Smart Aquaculture site, and customize it along the way. 
                </div>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Learn reactive programming
                  </h3>
                </div>
                <div>
                  Learn how to build reactive asynchronous Java code, OpenAPIs, database scripts, and Smart Aquaculture data. 
                </div>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Build interactive dashboards
                  </h3>
                </div>
                <div>
                  Visualize your Smart Aquaculture data in event-driven, interactive dashboards and maps. 
                </div>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Cloud-native microservices
                  </h3>
                </div>
                <div>
                  Interact with modern microservices in the cloud like: 
                </div>
                <ul>
                  <li>
                    PostgreSQL Database for transactional data storage
                  </li>
                  <li>
                    Apache Zookeeper Cluster Manager for event bus messaging
                  </li>
                  <li>
                    Apache Solr Search Engine for autosuggest and searchable APIs
                  </li>
                  <li>
                    Keycloak Single Sign-On for fine-grain access control to Smart Aquaculture data
                  </li>
                  <li>
                    FIWARE Context Broker for open source IoT edge device standards
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              About the conference
            </h2>
            <h3 class="brand-font anchor-heading" id="whats-web-awesome">
              Generative AI to Enhance Supply Chain Resilience
            </h3>
            <p>
              A NEDSI conference is a forum for scholars and practitioners to present their research and keep abreast of their areas of expertise and interlace into new horizons, 
              it is where salient networking occurs, and friendships are made for a lifetime. 
              Conference participants have stated that they enjoy the amicable nature at NEDSI conferences; over 200 participants are expected at this year’s event. 
            </p>
          </div>
        </div>
{% endblock %}
