{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleUseCasePage %}
    <title>{% if resultCount == 0 %}no use case found{% else %}use cases{% endif %}</title>
{%- endblock htmTitleUseCasePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/use-case/UseCase.css"/>
{%- block htmStylesUseCasePage %}
{%- endblock htmStylesUseCasePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 3;
      }
{{ super() }}
{%- block htmStyleUseCasePage %}
{%- endblock htmStyleUseCasePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsUseCasePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/use-case/UseCase.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/use-case/UseCaseSearchPage.js"></script>
{%- endblock htmScriptsUseCasePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptUseCasePage %}
    <script>

      function jsWebsocketUseCase(pageId, vars, $response) {
{%- block jsWebsocketUseCasePage %}{%- endblock %}
      }

      function jsTooltipUseCase(e, feature) {
{%- block jsTooltipUseCasePage %}{%- endblock %}
      }

      function htmTooltipUseCase(feature, layer) {
        return `{%- block htmTooltipUseCasePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipUseCasePage %}`;
      }

      function facetChangeUseCaseSuccess(e) {
        var l = e.querySelector('.pageForm .listUseCase')?.value;
        if(l)
          window.listUseCase = JSON.parse(l);
{% block facetChangeUseCaseSuccess %}{%- endblock facetUseCaseSuccess %}
      }
      function facetChangeUseCaseError(e) {
{% block facetChangeUseCaseError %}{%- endblock facetUseCaseError %}
      }

      function facetSimpleRangeUseCaseSuccess(e) {
{% block facetSimpleRangeUseCaseSuccess %}      facetChangeUseCaseSuccess(e);{% endblock facetSimpleRangeUseCaseSuccess %}
      }
      function facetSimpleRangeUseCaseError(e) {
{% block facetSimpleRangeUseCaseError %}      facetChangeUseCaseError(e);{% endblock facetSimpleRangeUseCaseError %}
      }
      function facetSimpleRangeUseCase(e) {
        facetSimpleRange(e, facetSimpleRangeUseCaseSuccess, facetSimpleRangeUseCaseError);
      }

      function facetRangeTimeZoneUseCaseSuccess(e) {
{% block facetRangeTimeZoneUseCaseSuccess %}      facetChangeUseCaseSuccess(e);{% endblock facetRangeTimeZoneUseCaseSuccess %}
      }
      function facetRangeTimeZoneUseCaseError(e) {
{% block facetRangeTimeZoneUseCaseError %}      facetChangeUseCaseError(e);{%- endblock facetRangeTimeZoneUseCaseError %}
      }
      function facetRangeTimeZoneUseCase(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneUseCaseSuccess, facetRangeTimeZoneUseCaseError);
      }

      function facetRangeGapChangeUseCaseSuccess(e) {
{% block facetRangeGapChangeUseCaseSuccess %}      facetChangeUseCaseSuccess(e);{% endblock facetRangeGapChangeUseCaseSuccess %}
      }
      function facetRangeGapChangeUseCaseError(e) {
{% block facetRangeGapChangeUseCaseError %}      facetChangeUseCaseError(e);{%- endblock facetRangeGapChangeUseCaseError %}
      }
      function facetRangeGapChangeUseCase(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeUseCaseSuccess, facetRangeGapChangeUseCaseError);
      }

      function facetRangeStartChangeUseCaseSuccess(e) {
{% block facetRangeStartChangeUseCaseSuccess %}      facetChangeUseCaseSuccess(e);{% endblock facetRangeStartChangeUseCaseSuccess %}
      }
      function facetRangeStartChangeUseCaseError(e) {
{% block facetRangeStartChangeUseCaseError %}      facetChangeUseCaseError(e);{%- endblock facetRangeStartChangeUseCaseError %}
      }
      function facetRangeStartChangeUseCase(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeUseCaseSuccess, facetRangeStartChangeUseCaseError);
      }

      function facetRangeEndChangeUseCaseSuccess(e) {
{% block facetRangeEndChangeUseCaseSuccess %}      facetChangeUseCaseSuccess(e);{% endblock facetRangeEndChangeUseCaseSuccess %}
      }
      function facetRangeEndChangeUseCaseError(e) {
{% block facetRangeEndChangeUseCaseError %}      facetChangeUseCaseError(e);{%- endblock facetRangeEndChangeUseCaseError %}
      }
      function facetRangeEndChangeUseCase(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeUseCaseSuccess, facetRangeEndChangeUseCaseError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listUseCase')?.value;
        if(l)
          window.listUseCase = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneUseCase);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneUseCase);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneUseCase);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeUseCase);
        pageGraphUseCase();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qUseCase_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('UseCase', event.target, document.querySelector('#qUseCaseDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qUseCase_rows')?.addEventListener('change', event => {
          paramChange('UseCase', event.target, document.querySelector('#qUseCaseDiv_rows'));
        });

        document.querySelector('#qUseCase_start')?.addEventListener('change', event => {
          paramChange('UseCase', event.target, document.querySelector('#qUseCaseDiv_start'));
        });


        var submitForm_patchUseCase = document.querySelector('#htmForm_patchUseCase')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchUseCase')?.addEventListener('click', event => {
          event.preventDefault();
          patchUseCase(null, document.querySelector('#htmForm_patchUseCase'), document.querySelector('#htmFormButton_patchUseCase'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postUseCase = document.querySelector('#htmForm_postUseCase')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postUseCase')?.addEventListener('click', event => {
          event.preventDefault();
          postUseCase(document.querySelector('#htmForm_postUseCase')
          , document.querySelector('#htmFormButton_postUseCase')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteUseCase = document.querySelector('#htmForm_deleteUseCase')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteUseCase')?.addEventListener('click', event => {
          event.preventDefault();
          deleteUseCase(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportUseCase = document.querySelector('#htmForm_putimportUseCase')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportUseCase')?.addEventListener('click', event => {
          event.preventDefault();
          putimportUseCase(document.querySelector('#htmForm_putimportUseCase'), document.querySelector('#htmFormButton_putimportUseCase'));
          return false;
        });

        var submitForm_searchpageUseCase = document.querySelector('#htmForm_searchpageUseCase')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageUseCase')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageUseCase();
          return false;
        });

        var submitForm_deletefilterUseCase = document.querySelector('#htmForm_deletefilterUseCase')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterUseCase')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterUseCase(event.target);
          return false;
        });
{%- block htmScriptInitUseCasePage %}{%- endblock htmScriptInitUseCasePage %}
      });
    </script>
{%- endblock htmScriptUseCasePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketUseCasePage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketUseCase(websocketUseCaseInner);
{% endif %}
{%- endblock websocketUseCasePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlUseCasePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlUseCasePage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-UseCase">back to all use cases</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-UseCase" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-file-invoice"></i>
                  all use cases
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search use cases
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartUseCasePage %}
{% include en-us/search/use-case/UseCaseSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-UseCase">back to all use cases</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-UseCase" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-file-invoice"></i>
              all use cases
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no use case found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-file-invoice"></i>
            </div>
            <span class="wa-heading-m ">no use case found</span>
            <p class="wa-caption-l ">See computate use cases for real organizations. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/use-case/UseCaseSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/use-case" id="UseCaseForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listUseCase" id="listUseCase" class="listUseCase"  value='{{ toJsonArrayStringInApostrophes(listUseCase) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/use-case/UseCaseSearchForm.htm %}
{%- endblock htmBodyStartUseCasePage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/use-case/UseCaseSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/use-case/UseCaseSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleUseCasePage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/use-case/UseCasePaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-name">
                      <wa-button variant="brand" slot="trigger" caret>use case name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortUseCase_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-UseCase').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by use case name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortUseCase_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-UseCase').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by use case name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-authorName">
                      <wa-button variant="brand" slot="trigger" caret>author name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortUseCase_authorName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-UseCase').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-authorName-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by author name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortUseCase_authorName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-UseCase').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-authorName-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by author name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>use case description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortUseCase_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-UseCase').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by use case description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortUseCase_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-UseCase').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by use case description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listUseCase%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="fa-duotone fa-regular fa-file-invoice"></i>
                      <span>{{ item.name | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.authorName | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnAuthorName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/use-case/UseCasePaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleUseCasePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndUseCasePage %}
{%- include en-us/search/use-case/UseCaseLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndUseCasePage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
