{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="Install OpenShift Local on your own computer" />
    <meta name="result.description" content="How to install OpenShift Local for free for local cloud development of data driven-websites like Smart Aquaculture. " />
    <meta name="result.authorName" content="Christopher Tate" />
    <meta name="result.authorUrl" content="{{ SITE_BASE_URL }}/en-us/learn/about/about-christopher-tate" />
    <meta name="result.created" content="2025-08-29T16:30:01.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/smart-aquaculture-static/webawesome/png/openshift-local-console.png" />
    <meta name="result.pageImageAlt" content="Screenshot of the OpenShift Local Console" />
    <meta name="result.prerequisiteArticleIds" content="become-a-red-hat-developer, computer-requirements-for-smart-aquaculture-development" />
    <meta name="result.nextArticleIds" content="deploying-smart-aquaculture-on-openshift-local" />
    <meta name="result.displayPage" content="https://smaq.computate.org/en-us/view/article/install-openshift-local-on-your-computer" />
    <meta name="result.price" content="0.00"/>
{% endblock htmMetaPageLayout %}