{% extends "en-us/CompanyProduct.htm" %}
{% import "en-us/dialog/solution/dialog-computate-smart-website-builder.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta name="result.name" content="Computate Smart Website Builder"/>
    <meta name="result.description" content="Build a custom data-driven website for your own ideas with the {{ result.name }}"/>
    <meta name="result.pageImageUri" content="/webinar/ai-telemetry-webinar/ai-telemetry-gpu-dashboard.png" />
    <meta name="result.pageImageAlt" content="Custom data-driven website for managing GPU device data" />
    <meta name="result.downloadUrl" content="https://github.com/computate-org/computate-smart-website-builder/" />
    <meta name="result.productNum" content="98"/>
    <meta name="result.price" content="2048.00"/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleCompanyProduct %}
{% endblock htmBodyMiddleCompanyProduct %}
