{% extends "en-us/CompanyProduct.htm" %}
{% import "en-us/dialog/solution/dialog-smart-aquaculture-developer.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta name="result.name" content="Developer Computer Minion"/>
    <meta name="result.description" content="Learn how to use to compile and run fun open source games and useful Linux software on your own Linux computer with self-healing, event-driven automation. "/>
    <meta name="result.pageImageUri" content="/png/dcm.png" />
    <meta name="result.pageImageAlt" content="Screenshot of the Developer Computer Minion platform" />
    <meta name="result.downloadUrl" content="https://github.com/computate-org/dcm-developer/" />
    <meta name="result.productNum" content="1"/>
    <meta name="result.price" content="10.00"/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleCompanyProduct %}

{% endblock htmBodyMiddleCompanyProduct %}
