{% extends "en-us/search/product/CompanyProductGenSearchPage.htm" %}
{% include "en-us/ArticlePart.htm" %}
{%- block htmBodyMiddleCompanyProductPage %}
{% if resultCount > 0 %}
<script type="module">

  Promise.all([
    customElements.whenDefined('wa-button')
    , customElements.whenDefined('wa-input')
  ]).then(() => {
    {% for result in listCompanyProduct %}
    document.querySelector('#dialog-button-{{ result.pageId }}').addEventListener('click', (event) => (document.querySelector('#dialog-{{ result.pageId }}').open = true));
    document.querySelector('#dialog-card-link-{{ result.pageId }}').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#dialog-{{ result.pageId }}').open = true;
      return false;
    });
    {% endfor %}
  });
</script>
<div class="wa-stack wa-align-items-center" style="max-width: 105ch; margin: 0 auto;">
  <div class="wa-grid" style="--min-column-size: 40ch;">
    {% for result in listCompanyProduct %}
    <a class="wa-link-plain " href="{{ result.displayPage }}" id="dialog-card-link-{{ result.pageId }}">
      <wa-card with-image style="height: 100%" class="hover-card">
        <div class="wa-frame:landscape wa-border-radius-l "{% if result.pageImageWidth %} style="aspect-ratio: {{ result.pageImageWidth }} / {{ result.pageImageHeight }}; "{% endif %}>
          <img
              slot="media"
              src="{{ STATIC_BASE_URL }}{{ result.pageImageUri }}"
              {% if result.pageImageAlt is defined %}
              alt="{{ result.pageImageAlt | e }}"
              {% endif %}
              />
        </div>
        <div class="margin-block-start ">
          <h3>{{ result.name | e }}</h3>
          <p class="wa-caption-l">
            {{ result.description | e }}
          </p>
          <p>
            {% if result.price == "0.00" %}
            This is Free!
            {% else %}
            This costs <code><wa-format-number type="currency" currency="USD" value="{{ result.price }}" lang="en-US"></wa-format-number></code>
            {% endif %}
          </p>
          <wa-button variant="brand" id="dialog-button-{{ result.pageId }}">Learn more</wa-button>
        </div>
      </wa-card>
    </a>
    {% endfor %}
    {% for result in listCompanyProduct %}
    <wa-dialog label="{{ result.name | e }}" id="dialog-{{ result.pageId }}" light-dismiss style="--width: 60rem; ">
      <div class="wa-stack ">
        {% include result.dialogTemplate %}
        {{ paymentCallouts(result) }}
      </div>
      {% if result.price == "0.00" %}
      <wa-button slot="footer" variant="brand" href="{{ result.userPage }}">
        Learn for free!
      </wa-button>
      {% else %}
      <div slot="footer" class="wa-stack ">
        <div class="wa-cluster ">
          <div>
            <wa-button slot="footer" variant="brand" href="{{ result.userPage }}?var=utah:true">
              I live in Utah, USA
            </wa-button>
          </div>
          <div>
            <wa-button slot="footer" variant="brand" href="{{ result.userPage }}?var=utah:false">
              I live somewhere else
            </wa-button>
          </div>
        </div>
      </div>
      {% endif %}
    </wa-dialog>
    {% endfor %}
  </div>
</div>

{% endif %}
{%- endblock htmBodyMiddleCompanyProductPage %}
