{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyProductPage %}
    <title>{% if resultCount == 0 %}no product found{% else %}products{% endif %}</title>
{%- endblock htmTitleCompanyProductPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/product/CompanyProduct.css"/>
{%- block htmStylesCompanyProductPage %}
{%- endblock htmStylesCompanyProductPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyProductPage %}
{%- endblock htmStyleCompanyProductPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyProductPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/product/CompanyProduct.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/product/CompanyProductSearchPage.js"></script>
{%- endblock htmScriptsCompanyProductPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyProductPage %}
    <script>

      function jsWebsocketCompanyProduct(pageId, vars, $response) {
{%- block jsWebsocketCompanyProductPage %}{%- endblock %}
      }

      function jsTooltipCompanyProduct(e, feature) {
{%- block jsTooltipCompanyProductPage %}{%- endblock %}
      }

      function htmTooltipCompanyProduct(feature, layer) {
        return `{%- block htmTooltipCompanyProductPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.title}</a></h3>
{%- endblock htmTooltipCompanyProductPage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyProduct')?.value;
        if(l)
          window.listCompanyProduct = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyProduct();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyProduct_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyProduct', event.target, document.querySelector('#qCompanyProductDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyProduct_rows')?.addEventListener('change', event => {
          paramChange('CompanyProduct', event.target, document.querySelector('#qCompanyProductDiv_rows'));
        });

        document.querySelector('#qCompanyProduct_start')?.addEventListener('change', event => {
          paramChange('CompanyProduct', event.target, document.querySelector('#qCompanyProductDiv_start'));
        });


        var submitForm_patchCompanyProduct = document.querySelector('#htmForm_patchCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyProduct(null, document.querySelector('#htmForm_patchCompanyProduct'), document.querySelector('#htmFormButton_patchCompanyProduct'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyProduct = document.querySelector('#htmForm_postCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyProduct(document.querySelector('#htmForm_postCompanyProduct'), document.querySelector('#htmFormButton_postCompanyProduct'), (response, target) => { response.json().then((json) => { window.location.href = json.editPage; }); });
          return false;
        });

        var submitForm_deleteCompanyProduct = document.querySelector('#htmForm_deleteCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          deleteCompanyProduct(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportCompanyProduct = document.querySelector('#htmForm_putimportCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyProduct(document.querySelector('#htmForm_putimportCompanyProduct'), document.querySelector('#htmFormButton_putimportCompanyProduct'));
          return false;
        });

        var submitForm_searchpageCompanyProduct = document.querySelector('#htmForm_searchpageCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyProduct();
          return false;
        });

        var submitForm_deletefilterCompanyProduct = document.querySelector('#htmForm_deletefilterCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterCompanyProduct(event.target);
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyProductPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyProductPage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyProduct(websocketCompanyProductInner);
{%- endblock websocketCompanyProductPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyProductPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyProductPage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartCompanyProductPage %}
{% if resultCount > 0 %}
          <h1><a href="{{pageUri}}"><i class="fa-duotone fa-regular fa-conveyor-belt"></i> <span>products</span></a></h1>
{%- include en-us/search/product/CompanyProductSuggestedSearch.htm %}
{% include en-us/search/product/CompanyProductSearchButtons.htm %}
{% include en-us/search/product/CompanyProductSearchForm.htm %}
{% endif %}
{%- endblock htmBodyStartCompanyProductPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyProductPage %}
{% if resultCount == 0 %}
        {% if varsFqCount > 0 %}
        <wa-tooltip for="return-to-CompanyProduct">back to all products</wa-tooltip>
          <wa-button id="return-to-CompanyProduct" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
            <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
            all products
          </wa-button>
        </wa-tooltip>
        {% endif %}
        <h1><i class="fa-duotone fa-regular fa-conveyor-belt"></i> <span>products</span></h1>
{% include en-us/search/product/CompanyProductSearchButtons.htm %}
{% include en-us/search/product/CompanyProductSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no product found</span>
          </span>
        </h2>
{% else %}
{%- include en-us/search/product/CompanyProductSidebar.htm %}
          <form action="/en-us/api/product" id="CompanyProductForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="listCompanyProduct" id="listCompanyProduct" class="listCompanyProduct"  value='{{ toJsonArrayStringInApostrophes(listCompanyProduct) }}' type="hidden"/>
          </form>
        <div class="pageContent ">
          <div id="site-calendar-box">
            <div id="site-calendar"><!-- // --></div>
          </div>
          {% if varsFqCount > 0 %}
          <div class="margin-block">
            <wa-tooltip for="return-to-CompanyProduct">back to all products</wa-tooltip>
            <wa-button id="return-to-CompanyProduct" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
              all products
            </wa-button>
          </div>
          {% endif %}
{% include en-us/search/product/CompanyProductPaginationButtons.htm %}
          <div class="card-like-thing background-color-surface-border" id="site-results-grid">
            <div>
              <wa-dropdown id="htmDropdown-name">
                <wa-button variant="brand" slot="trigger" caret>product name</wa-button>
                <wa-menu>
                  <wa-menu-item data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by product name ascending
                  </wa-menu-item>
                  <wa-menu-item data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by product name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-description">
                <wa-button variant="brand" slot="trigger" caret>product description</wa-button>
                <wa-menu>
                  <wa-menu-item data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by product description ascending
                  </wa-menu-item>
                  <wa-menu-item data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by product description descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <div></div>
            </div>
            {% for item in listCompanyProduct%}
            <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-duotone fa-regular fa-conveyor-belt"></i>
              {{ item.name }}
              </a>
              <a href="{{ item.displayPage }}">
              {{ item.description }}
              </a>
              <wa-button variant="brand"
                  id="{{classApiMethodMethod}}_editPage"
                  placeholder="[String] edit"
                  label="edit"
                  title="Edit this"
                  class="button-on-left {{classApiMethodMethod}}_editPage classCompanyProduct inputCompanyProduct{{pageId}}EditPage "
                  name="setEditPage"
                  href="{{ item.editPage | e }}"
                  >
                <i class="fa-duotone fa-regular fa-pen-to-square"></i>
                edit
              </wa-button>
            </div>
            {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnEditPage is defined %}
                <div>
                </div>
              {% endif %}
          </div>
        </div>
{% endif %}
{%- endblock htmBodyMiddleCompanyProductPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndCompanyProductPage %}
{%- endblock htmBodyEndCompanyProductPage %}
{%- endblock htmBodyEndPageLayout %}
