{%- macro inputCreatedCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_created datetimepicker setCreated classCompanyProduct inputCompanyProduct{{ result.pageId }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="CompanyProduct_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-pageId={{ result.pageId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_modified datetimepicker setModified classCompanyProduct inputCompanyProduct{{ result.pageId }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="CompanyProduct_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-pageId={{ result.pageId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="CompanyProduct_{{classApiMethodMethod}}_archived"
                      placeholder="archived"
                      label="archived"
                      hint="For archiving this record"
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_archived classCompanyProduct inputCompanyProduct{{ result.pageId }}Archived "
                      name="setArchived"
                      data-pageId={{ result.pageId | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archived</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="CompanyProduct_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="CompanyProduct_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archived"
                      label="archived"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_archived classCompanyProduct inputCompanyProduct{{ result.pageId }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_archived classCompanyProduct inputCompanyProduct{{ result.pageId }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_archived setArchived valueArchived classCompanyProduct inputCompanyProduct{{ result.pageId }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >archived</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] product name"
                      label="product name"
                      hint="The product name. "
                      id="CompanyProduct_{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_name setName classCompanyProduct inputCompanyProduct{{ result.pageId }}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_name setName classCompanyProduct inputCompanyProduct{{ result.pageId }}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_name valueName classCompanyProduct inputCompanyProduct{{ result.pageId }}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.name | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] product description"
                      label="product description"
                      hint="The product description. "
                      id="CompanyProduct_{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_description setDescription classCompanyProduct inputCompanyProduct{{ result.pageId }}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_description setDescription classCompanyProduct inputCompanyProduct{{ result.pageId }}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_description valueDescription classCompanyProduct inputCompanyProduct{{ result.pageId }}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.description | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPriceCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_price">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[BigDecimal] price"
                      label="price"
                      type="number"
                      step="0.01"
                      hint="The price of the product per developer. "
                      id="CompanyProduct_{{classApiMethodMethod}}_price"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_price setPrice classCompanyProduct inputCompanyProduct{{ result.pageId }}Price "
                      name="setPrice"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_price setPrice classCompanyProduct inputCompanyProduct{{ result.pageId }}Price "
                      name="setPrice"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_price valuePrice classCompanyProduct inputCompanyProduct{{ result.pageId }}Price "
                      name="price"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.price | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPriceCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPriceCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageImageUriCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageImageUri">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] imageUri"
                      label="imageUri"
                      hint="The page image URI"
                      id="CompanyProduct_{{classApiMethodMethod}}_pageImageUri"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_pageImageUri setPageImageUri classCompanyProduct inputCompanyProduct{{ result.pageId }}PageImageUri "
                      name="setPageImageUri"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_pageImageUri setPageImageUri classCompanyProduct inputCompanyProduct{{ result.pageId }}PageImageUri "
                      name="setPageImageUri"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_pageImageUri valuePageImageUri classCompanyProduct inputCompanyProduct{{ result.pageId }}PageImageUri "
                      name="pageImageUri"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pageImageUri | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageImageUriCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageImageUriCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      hint="The ID for this page. "
                      id="CompanyProduct_{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_pageId setPageId classCompanyProduct inputCompanyProduct{{ result.pageId }}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_pageId setPageId classCompanyProduct inputCompanyProduct{{ result.pageId }}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_pageId valuePageId classCompanyProduct inputCompanyProduct{{ result.pageId }}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pageId | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDisplayPageCompanyProductPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_displayPage">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <div class="button-on-left ">
                    <wa-button variant="brand"
                        id="CompanyProduct_{{classApiMethodMethod}}_displayPage"
                        class="button-on-left {{CompanyProduct_classApiMethodMethod}}_displayPage classCompanyProduct inputCompanyProduct{{ result.pageId }}DisplayPage "
                        name="setDisplayPage"
                        href="{{ result.displayPage | e }}"
                        >
                    </wa-button>
                  </div>
                  <div class="button-description-on-right "></div>
  {%- else %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      id="CompanyProduct_{{classApiMethodMethod}}_displayPage"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_displayPage setDisplayPage classCompanyProduct inputCompanyProduct{{ result.pageId }}DisplayPage "
                      name="setDisplayPage"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_displayPage setDisplayPage classCompanyProduct inputCompanyProduct{{ result.pageId }}DisplayPage "
                      name="setDisplayPage"
    {%- else %}
                      class="label-on-left {{CompanyProduct_classApiMethodMethod}}_displayPage valueDisplayPage classCompanyProduct inputCompanyProduct{{ result.pageId }}DisplayPage "
                      name="displayPage"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.displayPage | e }}"
  {% endif -%}
                      ></wa-input>

  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDisplayPageCompanyProductPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDisplayPageCompanyProductPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchCompanyProduct() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchCompanyProduct" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchCompanyProduct"
                >Modify product</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchCompanyProduct"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchCompanyProduct() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchCompanyProductDialog" label="Modify product">
          <form id="htmForm_patchCompanyProduct" class="round-row primary-smart-border-radius ">

            <wa-details open class="HtmRow" id="product-details">
              <div slot="summary">
                <span>product details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="useful-urls">
              <div slot="summary">
                <span>Useful URLs</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchCompanyProduct() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postCompanyProduct() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postCompanyProduct" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postCompanyProduct"
                >Create a product</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postCompanyProduct"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postCompanyProduct() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postCompanyProductDialog" label="Create a product">
          <form id="htmForm_postCompanyProduct" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details open class="HtmRow" id="product-details">
              <div slot="summary">
                <span>product details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="useful-urls">
              <div slot="summary">
                <span>Useful URLs</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postCompanyProduct() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteCompanyProduct() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteCompanyProduct" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteCompanyProduct"
                >Delete product</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteCompanyProduct"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteCompanyProduct() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteCompanyProductDialog" label="Delete product">
          <form id="htmForm_deleteCompanyProduct" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteCompanyProduct() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportCompanyProduct() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportCompanyProduct" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportCompanyProduct"
                >Import products</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportCompanyProduct"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportCompanyProduct() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportCompanyProductDialog" label="Import products">
          <form id="htmForm_putimportCompanyProduct" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'pageId': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportCompanyProduct() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageCompanyProduct() %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageCompanyProductDialog" label="Search products">
          <div id="htmForm_searchpageCompanyProduct" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmCreatedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCreatedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmModifiedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmArchivedCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="product-details">
              <div slot="summary">
                <span>product details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNameCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDescriptionCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPriceCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageImageUriCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="useful-urls">
              <div slot="summary">
                <span>Useful URLs</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageIdCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDisplayPageCompanyProductPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterCompanyProduct() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterCompanyProduct" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterCompanyProduct"
                >Delete product</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterCompanyProduct"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterCompanyProduct() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterCompanyProductDialog" label="Delete product">
          <form id="htmForm_deletefilterCompanyProduct" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterCompanyProduct() }}
        </wa-dialog>
{%- endmacro %}
