{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyProductPage %}
    <title>{% if resultCount == 0 %}no product found{% else %}products{% endif %}</title>
{%- endblock htmTitleCompanyProductPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/product/CompanyProduct.css"/>
{%- block htmStylesCompanyProductPage %}
{%- endblock htmStylesCompanyProductPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleCompanyProductPage %}
{%- endblock htmStyleCompanyProductPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyProductPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/product/CompanyProduct.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/product/CompanyProductSearchPage.js"></script>
{%- endblock htmScriptsCompanyProductPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyProductPage %}
    <script>

      function jsWebsocketCompanyProduct(pageId, vars, $response) {
{%- block jsWebsocketCompanyProductPage %}{%- endblock %}
      }

      function jsTooltipCompanyProduct(e, feature) {
{%- block jsTooltipCompanyProductPage %}{%- endblock %}
      }

      function htmTooltipCompanyProduct(feature, layer) {
        return `{%- block htmTooltipCompanyProductPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyProductPage %}`;
      }

      function facetChangeCompanyProductSuccess(e) {
        var l = e.querySelector('.pageForm .listCompanyProduct')?.value;
        if(l)
          window.listCompanyProduct = JSON.parse(l);
{% block facetChangeCompanyProductSuccess %}{%- endblock facetCompanyProductSuccess %}
      }
      function facetChangeCompanyProductError(e) {
{% block facetChangeCompanyProductError %}{%- endblock facetCompanyProductError %}
      }

      function facetSimpleRangeCompanyProductSuccess(e) {
{% block facetSimpleRangeCompanyProductSuccess %}      facetChangeCompanyProductSuccess(e);{% endblock facetSimpleRangeCompanyProductSuccess %}
      }
      function facetSimpleRangeCompanyProductError(e) {
{% block facetSimpleRangeCompanyProductError %}      facetChangeCompanyProductError(e);{% endblock facetSimpleRangeCompanyProductError %}
      }
      function facetSimpleRangeCompanyProduct(e) {
        facetSimpleRange(e, facetSimpleRangeCompanyProductSuccess, facetSimpleRangeCompanyProductError);
      }

      function facetRangeTimeZoneCompanyProductSuccess(e) {
{% block facetRangeTimeZoneCompanyProductSuccess %}      facetChangeCompanyProductSuccess(e);{% endblock facetRangeTimeZoneCompanyProductSuccess %}
      }
      function facetRangeTimeZoneCompanyProductError(e) {
{% block facetRangeTimeZoneCompanyProductError %}      facetChangeCompanyProductError(e);{%- endblock facetRangeTimeZoneCompanyProductError %}
      }
      function facetRangeTimeZoneCompanyProduct(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneCompanyProductSuccess, facetRangeTimeZoneCompanyProductError);
      }

      function facetRangeGapChangeCompanyProductSuccess(e) {
{% block facetRangeGapChangeCompanyProductSuccess %}      facetChangeCompanyProductSuccess(e);{% endblock facetRangeGapChangeCompanyProductSuccess %}
      }
      function facetRangeGapChangeCompanyProductError(e) {
{% block facetRangeGapChangeCompanyProductError %}      facetChangeCompanyProductError(e);{%- endblock facetRangeGapChangeCompanyProductError %}
      }
      function facetRangeGapChangeCompanyProduct(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeCompanyProductSuccess, facetRangeGapChangeCompanyProductError);
      }

      function facetRangeStartChangeCompanyProductSuccess(e) {
{% block facetRangeStartChangeCompanyProductSuccess %}      facetChangeCompanyProductSuccess(e);{% endblock facetRangeStartChangeCompanyProductSuccess %}
      }
      function facetRangeStartChangeCompanyProductError(e) {
{% block facetRangeStartChangeCompanyProductError %}      facetChangeCompanyProductError(e);{%- endblock facetRangeStartChangeCompanyProductError %}
      }
      function facetRangeStartChangeCompanyProduct(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeCompanyProductSuccess, facetRangeStartChangeCompanyProductError);
      }

      function facetRangeEndChangeCompanyProductSuccess(e) {
{% block facetRangeEndChangeCompanyProductSuccess %}      facetChangeCompanyProductSuccess(e);{% endblock facetRangeEndChangeCompanyProductSuccess %}
      }
      function facetRangeEndChangeCompanyProductError(e) {
{% block facetRangeEndChangeCompanyProductError %}      facetChangeCompanyProductError(e);{%- endblock facetRangeEndChangeCompanyProductError %}
      }
      function facetRangeEndChangeCompanyProduct(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeCompanyProductSuccess, facetRangeEndChangeCompanyProductError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyProduct')?.value;
        if(l)
          window.listCompanyProduct = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneCompanyProduct);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneCompanyProduct);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneCompanyProduct);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeCompanyProduct);
        pageGraphCompanyProduct();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyProduct_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyProduct', event.target, document.querySelector('#qCompanyProductDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyProduct_rows')?.addEventListener('change', event => {
          paramChange('CompanyProduct', event.target, document.querySelector('#qCompanyProductDiv_rows'));
        });

        document.querySelector('#qCompanyProduct_start')?.addEventListener('change', event => {
          paramChange('CompanyProduct', event.target, document.querySelector('#qCompanyProductDiv_start'));
        });


        var submitForm_patchCompanyProduct = document.querySelector('#htmForm_patchCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyProduct(null, document.querySelector('#htmForm_patchCompanyProduct'), document.querySelector('#htmFormButton_patchCompanyProduct'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyProduct = document.querySelector('#htmForm_postCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyProduct(document.querySelector('#htmForm_postCompanyProduct')
          , document.querySelector('#htmFormButton_postCompanyProduct')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteCompanyProduct = document.querySelector('#htmForm_deleteCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          deleteCompanyProduct(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportCompanyProduct = document.querySelector('#htmForm_putimportCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyProduct(document.querySelector('#htmForm_putimportCompanyProduct'), document.querySelector('#htmFormButton_putimportCompanyProduct'));
          return false;
        });

        var submitForm_searchpageCompanyProduct = document.querySelector('#htmForm_searchpageCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyProduct();
          return false;
        });

        var submitForm_deletefilterCompanyProduct = document.querySelector('#htmForm_deletefilterCompanyProduct')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterCompanyProduct')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterCompanyProduct(event.target);
          return false;
        });
{%- block htmScriptInitCompanyProductPage %}{%- endblock htmScriptInitCompanyProductPage %}
      });
    </script>
{%- endblock htmScriptCompanyProductPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyProductPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyProduct(websocketCompanyProductInner);
{% endif %}
{%- endblock websocketCompanyProductPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyProductPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyProductPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-CompanyProduct">back to all products</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-CompanyProduct" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-conveyor-belt"></i>
                  all products
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search products
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartCompanyProductPage %}
{% include en-us/search/product/CompanyProductSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-CompanyProduct">back to all products</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-CompanyProduct" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-conveyor-belt"></i>
              all products
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no product found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-conveyor-belt"></i>
            </div>
            <span class="wa-heading-m ">no product found</span>
            <p class="wa-caption-l ">See the computate products that will help you build your own data-driven platforms</p>
          </div>
        </div>
{% else %}
{% include en-us/search/product/CompanyProductSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/product" id="CompanyProductForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listCompanyProduct" id="listCompanyProduct" class="listCompanyProduct"  value='{{ toJsonArrayStringInApostrophes(listCompanyProduct) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/product/CompanyProductSearchForm.htm %}
{%- endblock htmBodyStartCompanyProductPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/product/CompanyProductSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/product/CompanyProductSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyProductPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/product/CompanyProductPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-name">
                      <wa-button variant="brand" slot="trigger" caret>product name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyProduct_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyProduct').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by product name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyProduct_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyProduct').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by product name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>product description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyProduct_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyProduct').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by product description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyProduct_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyProduct').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by product description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listCompanyProduct%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="fa-duotone fa-regular fa-conveyor-belt"></i>
                      <span>{{ item.name | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/product/CompanyProductPaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleCompanyProductPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndCompanyProductPage %}
{%- include en-us/search/product/CompanyProductLocation.htm %}
{%- endblock htmBodyEndCompanyProductPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
