{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyCoursePage %}
    <title>{% if resultCount == 0 %}no course found{% else %}courses{% endif %}</title>
{%- endblock htmTitleCompanyCoursePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/course/CompanyCourse.css"/>
{%- block htmStylesCompanyCoursePage %}
{%- endblock htmStylesCompanyCoursePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleCompanyCoursePage %}
{%- endblock htmStyleCompanyCoursePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyCoursePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/course/CompanyCourse.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/course/CompanyCourseSearchPage.js"></script>
{%- endblock htmScriptsCompanyCoursePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyCoursePage %}
    <script>

      function jsWebsocketCompanyCourse(pageId, vars, $response) {
{%- block jsWebsocketCompanyCoursePage %}{%- endblock %}
      }

      function jsTooltipCompanyCourse(e, feature) {
{%- block jsTooltipCompanyCoursePage %}{%- endblock %}
      }

      function htmTooltipCompanyCourse(feature, layer) {
        return `{%- block htmTooltipCompanyCoursePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyCoursePage %}`;
      }

      function facetChangeCompanyCourseSuccess(e) {
        var l = e.querySelector('.pageForm .listCompanyCourse')?.value;
        if(l)
          window.listCompanyCourse = JSON.parse(l);
{% block facetChangeCompanyCourseSuccess %}{%- endblock facetCompanyCourseSuccess %}
      }
      function facetChangeCompanyCourseError(e) {
{% block facetChangeCompanyCourseError %}{%- endblock facetCompanyCourseError %}
      }

      function facetSimpleRangeCompanyCourseSuccess(e) {
{% block facetSimpleRangeCompanyCourseSuccess %}      facetChangeCompanyCourseSuccess(e);{% endblock facetSimpleRangeCompanyCourseSuccess %}
      }
      function facetSimpleRangeCompanyCourseError(e) {
{% block facetSimpleRangeCompanyCourseError %}      facetChangeCompanyCourseError(e);{% endblock facetSimpleRangeCompanyCourseError %}
      }
      function facetSimpleRangeCompanyCourse(e) {
        facetSimpleRange(e, facetSimpleRangeCompanyCourseSuccess, facetSimpleRangeCompanyCourseError);
      }

      function facetRangeTimeZoneCompanyCourseSuccess(e) {
{% block facetRangeTimeZoneCompanyCourseSuccess %}      facetChangeCompanyCourseSuccess(e);{% endblock facetRangeTimeZoneCompanyCourseSuccess %}
      }
      function facetRangeTimeZoneCompanyCourseError(e) {
{% block facetRangeTimeZoneCompanyCourseError %}      facetChangeCompanyCourseError(e);{%- endblock facetRangeTimeZoneCompanyCourseError %}
      }
      function facetRangeTimeZoneCompanyCourse(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneCompanyCourseSuccess, facetRangeTimeZoneCompanyCourseError);
      }

      function facetRangeGapChangeCompanyCourseSuccess(e) {
{% block facetRangeGapChangeCompanyCourseSuccess %}      facetChangeCompanyCourseSuccess(e);{% endblock facetRangeGapChangeCompanyCourseSuccess %}
      }
      function facetRangeGapChangeCompanyCourseError(e) {
{% block facetRangeGapChangeCompanyCourseError %}      facetChangeCompanyCourseError(e);{%- endblock facetRangeGapChangeCompanyCourseError %}
      }
      function facetRangeGapChangeCompanyCourse(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeCompanyCourseSuccess, facetRangeGapChangeCompanyCourseError);
      }

      function facetRangeStartChangeCompanyCourseSuccess(e) {
{% block facetRangeStartChangeCompanyCourseSuccess %}      facetChangeCompanyCourseSuccess(e);{% endblock facetRangeStartChangeCompanyCourseSuccess %}
      }
      function facetRangeStartChangeCompanyCourseError(e) {
{% block facetRangeStartChangeCompanyCourseError %}      facetChangeCompanyCourseError(e);{%- endblock facetRangeStartChangeCompanyCourseError %}
      }
      function facetRangeStartChangeCompanyCourse(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeCompanyCourseSuccess, facetRangeStartChangeCompanyCourseError);
      }

      function facetRangeEndChangeCompanyCourseSuccess(e) {
{% block facetRangeEndChangeCompanyCourseSuccess %}      facetChangeCompanyCourseSuccess(e);{% endblock facetRangeEndChangeCompanyCourseSuccess %}
      }
      function facetRangeEndChangeCompanyCourseError(e) {
{% block facetRangeEndChangeCompanyCourseError %}      facetChangeCompanyCourseError(e);{%- endblock facetRangeEndChangeCompanyCourseError %}
      }
      function facetRangeEndChangeCompanyCourse(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeCompanyCourseSuccess, facetRangeEndChangeCompanyCourseError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyCourse')?.value;
        if(l)
          window.listCompanyCourse = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneCompanyCourse);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneCompanyCourse);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneCompanyCourse);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeCompanyCourse);
        pageGraphCompanyCourse();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyCourse_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyCourse', event.target, document.querySelector('#qCompanyCourseDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyCourse_rows')?.addEventListener('change', event => {
          paramChange('CompanyCourse', event.target, document.querySelector('#qCompanyCourseDiv_rows'));
        });

        document.querySelector('#qCompanyCourse_start')?.addEventListener('change', event => {
          paramChange('CompanyCourse', event.target, document.querySelector('#qCompanyCourseDiv_start'));
        });


        var submitForm_patchCompanyCourse = document.querySelector('#htmForm_patchCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyCourse(null, document.querySelector('#htmForm_patchCompanyCourse'), document.querySelector('#htmFormButton_patchCompanyCourse'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyCourse = document.querySelector('#htmForm_postCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyCourse(document.querySelector('#htmForm_postCompanyCourse')
          , document.querySelector('#htmFormButton_postCompanyCourse')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteCompanyCourse = document.querySelector('#htmForm_deleteCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          deleteCompanyCourse(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportCompanyCourse = document.querySelector('#htmForm_putimportCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyCourse(document.querySelector('#htmForm_putimportCompanyCourse'), document.querySelector('#htmFormButton_putimportCompanyCourse'));
          return false;
        });

        var submitForm_searchpageCompanyCourse = document.querySelector('#htmForm_searchpageCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyCourse();
          return false;
        });

        var submitForm_deletefilterCompanyCourse = document.querySelector('#htmForm_deletefilterCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterCompanyCourse(event.target);
          return false;
        });
{%- block htmScriptInitCompanyCoursePage %}{%- endblock htmScriptInitCompanyCoursePage %}
      });
    </script>
{%- endblock htmScriptCompanyCoursePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyCoursePage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyCourse(websocketCompanyCourseInner);
{% endif %}
{%- endblock websocketCompanyCoursePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyCoursePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyCoursePage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-CompanyCourse">back to all courses</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-CompanyCourse" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-notebook"></i>
                  all courses
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search courses
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartCompanyCoursePage %}
{% include en-us/search/course/CompanyCourseSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-CompanyCourse">back to all courses</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-CompanyCourse" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-notebook"></i>
              all courses
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no course found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-notebook"></i>
            </div>
            <span class="wa-heading-m ">no course found</span>
            <p class="wa-caption-l ">Take an exciting hands-on course on your own computer with computate</p>
          </div>
        </div>
{% else %}
{% include en-us/search/course/CompanyCourseSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/course" id="CompanyCourseForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listCompanyCourse" id="listCompanyCourse" class="listCompanyCourse"  value='{{ toJsonArrayStringInApostrophes(listCompanyCourse) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/course/CompanyCourseSearchForm.htm %}
{%- endblock htmBodyStartCompanyCoursePage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/course/CompanyCourseSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/course/CompanyCourseSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyCoursePage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/course/CompanyCoursePaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-name">
                      <wa-button variant="brand" slot="trigger" caret>course name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyCourse_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyCourse').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by course name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyCourse_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyCourse').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by course name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>course description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyCourse_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyCourse').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by course description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortCompanyCourse_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-CompanyCourse').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by course description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listCompanyCourse%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="fa-duotone fa-regular fa-notebook"></i>
                      <span>{{ item.name | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span class="white-space-pre-wrap ">{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/course/CompanyCoursePaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleCompanyCoursePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndCompanyCoursePage %}
{%- include en-us/search/course/CompanyCourseLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndCompanyCoursePage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
