{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyCoursePage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleCompanyCoursePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/course/CompanyCourse.css"/>
{%- block htmStylesCompanyCoursePage %}
{%- endblock htmStylesCompanyCoursePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleCompanyCoursePage %}
{%- endblock htmStyleCompanyCoursePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyCoursePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/course/CompanyCourse.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/course/CompanyCourseSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/course/CompanyCourseEditPage.js"></script>
{%- endblock htmScriptsCompanyCoursePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyCoursePage %}
    <script>

      function jsWebsocketCompanyCourse(pageId, vars, $response) {
{%- block jsWebsocketCompanyCoursePage %}{%- endblock %}
      }

      function jsTooltipCompanyCourse(e, feature) {
{%- block jsTooltipCompanyCoursePage %}{%- endblock %}
      }

      function htmTooltipCompanyCourse(feature, layer) {
        return `{%- block htmTooltipCompanyCoursePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyCoursePage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyCourse')?.value;
        if(l)
          window.listCompanyCourse = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyCourse();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyCourse_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyCourse', event.target, document.querySelector('#qCompanyCourseDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyCourse_rows')?.addEventListener('change', event => {
          paramChange('CompanyCourse', event.target, document.querySelector('#qCompanyCourseDiv_rows'));
        });

        document.querySelector('#qCompanyCourse_start')?.addEventListener('change', event => {
          paramChange('CompanyCourse', event.target, document.querySelector('#qCompanyCourseDiv_start'));
        });


        var submitForm_patchCompanyCourse = document.querySelector('#htmForm_patchCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyCourse(null, document.querySelector('#htmForm_patchCompanyCourse'), document.querySelector('#htmFormButton_patchCompanyCourse'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyCourse = document.querySelector('#htmForm_postCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyCourse(document.querySelector('#htmForm_postCompanyCourse')
          , document.querySelector('#htmFormButton_postCompanyCourse')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteCompanyCourse = document.querySelector('#htmForm_deleteCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          deleteCompanyCourse(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportCompanyCourse = document.querySelector('#htmForm_putimportCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyCourse(document.querySelector('#htmForm_putimportCompanyCourse'), document.querySelector('#htmFormButton_putimportCompanyCourse'));
          return false;
        });

        var submitForm_searchpageCompanyCourse = document.querySelector('#htmForm_searchpageCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyCourse();
          return false;
        });

        var submitForm_deletefilterCompanyCourse = document.querySelector('#htmForm_deletefilterCompanyCourse')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterCompanyCourse')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterCompanyCourse(event.target);
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyCoursePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyCoursePage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyCourse(websocketCompanyCourseInner);
{% endif %}
{%- endblock websocketCompanyCoursePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyCoursePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyCoursePage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartCompanyCoursePage %}
{% if resultCount > 0 %}
          <div class="wa-flank ">
            <wa-tooltip for="return-to-CompanyCourse">back to all courses</wa-tooltip>
            <wa-button id="return-to-CompanyCourse" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
              all courses
            </wa-button>
            <h1 class="Page_objectTitle"><i class="fa-duotone fa-regular fa-notebook"></i> {{ result.objectTitle | e }}</h1>
          </div>
          <div class="margin-block">
          </div>
{% include en-us/search/course/CompanyCourseSearchForm.htm %}
          <wa-divider></wa-divider>
{% include en-us/search/course/CompanyCourseSearchButtons.htm %}
{% endif %}
{%- endblock htmBodyStartCompanyCoursePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyCoursePage %}
        <div>
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-CompanyCourse">back to all courses</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-CompanyCourse" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-notebook"></i>
              all courses
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no course found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-notebook"></i>
            </div>
            <span class="wa-heading-m ">no course found</span>
            <p class="wa-caption-l ">Take an exciting hands-on course on your own computer with computate</p>
{% include en-us/search/course/CompanyCourseSearchForm.htm %}
          </div>
        </div>
{% else %}
{%- include en-us/search/course/CompanyCourseSidebar.htm %}
{%- include en-us/search/course/CompanyCourseSuggestedSearch.htm %}
{% endif %}
{%- block htmFormCompanyCoursePage %}
          <form action="/en-us/api/course" id="CompanyCourseForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
{% if result.pageId is defined %}
            <input name="pageId" class="valuePageId" type="hidden" value="{{ result.pageId }}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listCompanyCourse" id="listCompanyCourse" class="listCompanyCourse"  value='{{ toJsonArrayStringInApostrophes(listCompanyCourse) }}' type="hidden"/>
          </form>
  {% if solrId is defined %}
          {{ htmButton_searchpageCompanyCourse() }}
          {{ htmForm_searchpageCompanyCourse() }}
  {% endif %}
{%- endblock htmFormCompanyCoursePage %}
        </div>
{%- endblock htmBodyMiddleCompanyCoursePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndCompanyCoursePage %}
{%- endblock htmBodyEndCompanyCoursePage %}
{%- endblock htmBodyEndPageLayout %}
