{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.uri" content="/en-us/service/{{ pageId }}"/>
    <meta name="result.userUri" content="/en-us/user/service/{{ pageId }}"/>
    <meta name="result.storeUrl" content=""/>
    <meta name="result.downloadUri" content="/download/en-us/service/{{ pageId }}"/>
    <meta name="result.name" content="Powered by FIWARE Platform on OpenShift"/>
    <meta name="result.description" content="Work together with computate to launch your own Powered by FIWARE platform in the cloud to Red Hat OpenShift"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="pink-purple-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              {{ description }}
            </h1>
            <h2 class="brand-font">
              with the {{ name }}
            </h2>
            <div class="intro-details">
              <div>For more information, please contact </div>
              <wa-button id="order-button" class="gradient-button pink-purple-background" href="mailto:services@computate.org" variant="neutral">
                <i class="fa-solid fa-person-running-fast"></i>
                services@computate.org
              </wa-button>
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ name }}?
            </h2>
            <p>
              Work with Computate to launch your own Powered by FIWARE to Red Hat OpenShift in the cloud. 
            </p>
            <div class="summary-grid">

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Develop
                  </h3>
                </div>
                <p>
                  Build a custom data-driven website and OpenAPI based on your own business data and Smart Data Models. 
                  See the <a href="{{ SITE_BASE_URL }}/en-us/product/computate-smart-website-builder">Computate Smart Website Builder Builder</a>
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Containerize
                  </h3>
                </div>
                <p>
                  After developing your new data-driven website locally, learn how to containerize the application for running in the cloud the open source way. 
                  See the <a href="{{ SITE_BASE_URL }}/en-us/course/powered-by-fiware-smart-developer-challenge">Powered by FIWARE Smart Developer Challenge</a>
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Deploy
                  </h3>
                </div>
                <p>
                  Learn how to deploy your newly developed and containerized data-driven website to the cloud. 
                  See the <a href="{{ SITE_BASE_URL }}/en-us/course/powered-by-fiware-smart-cloud-challenge">Powered by FIWARE Smart Cloud Challenge</a>
                </p>
              </div>

            </div>
          </div>
        </div>
{% endblock %}
