{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="Powered by FIWARE Platform on OpenShift"/>
    <meta name="result.description" content="Work together with computate to launch your own Powered by FIWARE platform in the cloud to Red Hat OpenShift"/>
    <meta name="result.userUri" content="/en-us/user/service/{{ result.pageId }}"/>
    <meta name="result.storeUrl" content=""/>
    <meta name="result.downloadUri" content="/download/en-us/service/{{ result.pageId }}"/>
    <meta name="result.price" content="300000.00"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ result.title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="wa-stack ">

          <wa-card class="pink-purple-background">
            <div class="wa-stack ">
              <div class="wa-flank ">
                <i class="fa-duotone fa-regular fa-browser fa-5x "></i>
                <div>
                  <h2 class="brand-font">
                    {{ result.description }}
                  </h2>
                  <h1 class="brand-font">
                    with the {{ result.name }}
                  </h1>
                </div>
              </div>
              <wa-card>
                <div class="wa-stack ">
                  <div>For more information, please contact </div>
                  <div>
                    <wa-button id="order-button" class="gradient-button pink-purple-background" href="mailto:services@computate.org" variant="neutral">
                      <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                      services@computate.org
                    </wa-button>
                  </div>
                </div>
              </wa-card>
            </div>
          </wa-card>

          <wa-card class="summary-wrapper">
            <div class="wa-stack ">
              <h2 class="brand-font anchor-heading">
                What is the {{ result.name }}?
              </h2>
              <p>
                Work with Computate to launch your own Powered by FIWARE platform to Red Hat OpenShift in the cloud. 
              </p>
              <wa-card>

                <div class="wa-stack ">

                  <div>
                    <div class="wa-flank ">
                      <i class="fa-duotone fa-regular fa-code"></i>
                      <h3>
                        Develop
                      </h3>
                    </div>
                    <p>
                      Build a custom data-driven website and OpenAPI based on your own business data and Smart Data Models. 
                      See the <a href="{{ SITE_BASE_URL }}/en-us/shop/product/computate-smart-website-builder">Computate Smart Website Builder Builder</a>
                    </p>
                  </div>

                  <div>
                    <div class="wa-flank ">
                      <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                      <h3>
                        Containerize
                      </h3>
                    </div>
                    <p>
                      After developing your new data-driven website locally, learn how to containerize the application for running in the cloud the open source way. 
                      See the <a href="{{ SITE_BASE_URL }}/shop/course/smart-aquaculture-cloud-sandbox">Smart Aquaculture Cloud Sandbox</a>
                    </p>
                  </div>

                  <div>
                    <div class="wa-flank ">
                      <i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                      <h3>
                        Deploy
                      </h3>
                    </div>
                    <p>
                      Learn how to deploy your newly developed and containerized data-driven website to the cloud. 
                      See the <a href="{{ SITE_BASE_URL }}/shop/course/smart-aquaculture-cloud-sandbox">Smart Aquaculture Cloud Sandbox</a>
                    </p>
                  </div>

                </div>
              </wa-card>
            </div>
          </wa-card>

        </div>
{% endblock %}
