{% extends "en-us/PageLayout.htm" %}
{% block htmTitlePageLayout %}
    <title>computate.org</title>
{% endblock %}
{%- block htmScriptsPageLayout %}
{{ super() }}
    <script type="module">
      Promise.all([
        customElements.whenDefined('wa-button')
      ]).then(() => {

        Promise.all([
            queryWebinars()
            ]);
      });

      async function queryWebinars() {
        var query = Object.assign({ query: '' });
        var response = await fetch( '/en-us/api/webinar', { method: 'GET' });
        if(response.ok) {
          response.json().then(function(responseJson) {
            var result = responseJson.list[0];
            var nextWebinarDateStr = result.nextWebinar.substring(0, result.nextWebinar.indexOf('['));
            var nextWebinarZone = result.nextWebinar.substring(result.nextWebinar.indexOf('[') + 1, result.nextWebinar.indexOf(']'));
            const nextWebinarOptions = {
              timeZone: nextWebinarZone,
              year: 'numeric',
              month: 'numeric',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              second: 'numeric',
            };
            var nextWebinarFormatter = new Intl.DateTimeFormat('en-US', nextWebinarOptions);
            const prettyWebinarOptions = {
              timeZone: nextWebinarZone,
              weekday: 'short',
              year: 'numeric',
              month: 'short',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              second: 'numeric',
              timeZoneName: 'long'
            };
            var prettyWebinarFormatter = new Intl.DateTimeFormat('en-US', prettyWebinarOptions);
            var nextWebinarTz = moment.tz(nextWebinarDateStr, nextWebinarZone);
            var userTz = moment.tz.guess();
            var nextWebinar = nextWebinarTz.clone().tz(userTz).format('LLLL zz') + " " + userTz;
            document.querySelector('#webinar-button').setAttribute('href', result.webinarUrlAmericas);
            document.querySelector('#webinar-relative-time').setAttribute('date', nextWebinarTz.toISOString());
            document.querySelector('#webinar-format-time').innerText = nextWebinar;
            var $webinarsTbody = document.querySelector('#webinars-tbody');
            $webinarsTbody.innerHTML = '';
            var sortedDates = result.nextWebinarsBegin.map(weekdayWebinarStr => moment.tz(weekdayWebinarStr.substring(0, result.nextWebinar.indexOf('[')), nextWebinarZone)).sort((a, b) => {
              return a.isAfter(b);
            });
            sortedDates.forEach((weekdayWebinarTz, index) => {
              var $tr = document.createElement('tr');
              var $td = document.createElement('td');
              var weekdayWebinar = weekdayWebinarTz.clone().tz(userTz).format('LLLL zz') + " " + userTz;
              $td.innerText = weekdayWebinar;
              $tr.append($td);
              $webinarsTbody.append($tr);
            });
          });
        } else {
          throw new Error(`Failed to query GPU nodes total: ${response.status}`);
        }
      }
    </script>
{%- endblock htmScriptsPageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="wa-stack ">

          <wa-tooltip for="carousel-item-0" placement="left" hoist>Boston University researchers in Smart Cities meeting together in Boston with Red Hat and FIWARE. </wa-tooltip>
          <wa-tooltip for="carousel-item-1" placement="left" hoist>Hackathon with UNICEF at the Red Hat Tech Exchange 2018 in Orlando Florida, discovering the solution for the Multi-hop Mobility Challenge. </wa-tooltip>
          <wa-tooltip for="carousel-item-2" placement="left" hoist>The Smarta Byar Smart Village FIWARE iHub receiving an official certificate at the FIWARE Summit in Vienna, Austria in 2023. </wa-tooltip>
          <wa-tooltip for="carousel-item-3" placement="left" hoist>Hackathon for the ChRIS Project open compute medical imaging with Shaw University students in 2023. </wa-tooltip>
          <wa-tooltip for="carousel-item-4" placement="left" hoist>Remote hackathon with the Southern Coalition for Social Justice on Martin Luther King Jr. Day 2021 to kick off the development of the Open Data Policing website. </wa-tooltip>
          <wa-tooltip for="carousel-item-5" placement="left" hoist>Global outreach panel discussion at the FIWARE Summit in Vienna, Austria in 2023. </wa-tooltip>
          <wa-tooltip for="carousel-item-6" placement="left" hoist>FIWARE Cloud-to-Edge Hackathon with students from Shaw University, St. Augustine’s University, and North Carolina Central University in 2024. </wa-tooltip>
          <wa-tooltip for="carousel-item-7" placement="left" hoist>Presenting the Smart Aquaculture Cloud Sandbox technical workshop at the 2024 FIWARE Summit. </wa-tooltip>
          <wa-tooltip for="carousel-item-8" placement="left" hoist>Presenting a panel discussion on FIWARE iHub Value Proposition as Businesses and Services at the 2024 FIWARE Summit in Naples, Italy. </wa-tooltip>
          <wa-tooltip for="carousel-item-9" placement="left" hoist>Presenting the Smart Aquaculture workshop at the the Generative AI to Enhance Supply Chain Resilience NEDSI 2025 research conference in Hershey, Pennsylvania. </wa-tooltip>

          <wa-carousel style="--aspect-ratio: 16/4; " autoplay loop navigation pagination autoplay-interval="5000">
            <wa-carousel-item>
              <a id="carousel-item-9" href="{{ SITE_BASE_URL }}/en-us/shop/event/smart-aquaculture-nedsi-2025">
                <img src="{{ STATIC_BASE_URL }}/smart-aquaculture-static/webawesome/jpg/nedsi-conference-2025.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-8" href="{{ SITE_BASE_URL }}/en-us/shop/event/fiware-kubernetes-deployment-at-fiware-summit-2024-in-naples-italy">
                <img src="{{ STATIC_BASE_URL }}/smart-aquaculture-static/webawesome/jpg/fiware-summit-2024-panel.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-7" href="{{ SITE_BASE_URL }}/en-us/shop/event/fiware-kubernetes-deployment-at-fiware-summit-2024-in-naples-italy">
                <img src="{{ STATIC_BASE_URL }}/smart-aquaculture-static/webawesome/jpg/fiware-summit-2024-technical-workshop.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-6" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/shaw-university/shaw-hackathon-2024.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-5" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/fiware-summit-2023-vienna-panel.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-4" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/png/social-innovation/mlk-day-hackathon-2021.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-3" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/shaw-university/shaw-hackathon-2023.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-2" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/fiware-ihub-certificate.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-1" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/social-innovation/unicef-hackathon-2018.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-0" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/smartvillage/meet-our-team.jpg">
              </a>
            </wa-carousel-item>
          </wa-carousel>

          <div class="wa-stack main-content ">
            <div class="wa-flank">
              <i class="{{ FONTAWESOME_STYLE }} fa-video fa-2x "></i>
              <h2>
                Watch the free Computate AI Developer Webinar on Zoom or live streaming to Youtube. 
              </h2>
            </div>
            <div class="wa-stack ">
              <div class="wa-flank">
                <p>
                  Watch the smart-aquaculture project use the Computate Smart Cloud Deployer to deploy all the required microservices to the cloud, 
                  then do live development adding new features to the smart-aquaculture project in OpenShift AI VSCode Java Workbench. 
                </p>
              </div>
              <wa-card>
                <div class="wa-stack ">
                  <wa-callout variant="brand" appearance="filled-outlined">
                    <i slot="icon" class="fa-kit fa-computate-c-key fa-bounce fa-2xl"></i>
                    <h3 class="brand-font">
                      The Computate AI Developer Webinar will occur live each weekday. 
                    </h3>
                  </wa-callout>
                  <wa-button id="webinar-button" variant="brand" label="Join the webinar" href="{{ result.webinarUrlAmericas }}">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-video fa-2xl" aria-hidden="true"></i>
                    Join webinar
                  </wa-button>
                  <div class="wa-flank ">
                    <wa-relative-time id="webinar-relative-time" format="long" sync="true" date=""></wa-relative-time>
                    <div id="webinar-format-time"></div>
                  </div>
                  <div>
                    <p>
                      Here are the rest of the upcoming webinars for the next week: 
                    </p>
                    <table class="wa-zebra-rows wa-hover-rows">
                      <tbody id="webinars-tbody">
                      </tbody>
                    </table>
                  </div>
                  <h3>
                    Previous livestreams
                  </h3>
                  <div>
                    Previous livestreams are available on youtube for Smart Aquaculture, and AI Telemetry related topics. 
                  </div>
                  <wa-button id="webinar-button" variant="brand" label="Join the webinar" href="https://www.youtube.com/channel/UC3ryOB2snhO7fItkx6dGx2Q/">
                    <i slot="start" label="Follow us on Youtube" class="fa-brands fa-youtube fa-2xl"></i>
                    View livestreams
                  </wa-button>
                </div>
              </wa-card>

              <div>
                You can learn more about the use case for Computate open source software for Smart Aquaculture. 
              </div>
              <wa-card>
                <div>
                  <wa-button id="webinar-button" variant="brand" label="Join the webinar" href="{{ SITE_BASE_URL }}/en-us/shop/use-case/smart-aquaculture-use-case">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-video" aria-hidden="true"></i>
                    Read use case
                  </wa-button>
                </div>
              </wa-card>
            </div>
          </div>

          <wa-card class="main-content ">
            <div>
              <img class="max-width-100" src="https://computate.neocities.org/svg/computate.org-keys.svg" alt="computate.org logo">
            </div>
            <p>
              Computate.org automates the open source software development of secure, data-driven websites 
              with advanced code generation software, helping Internet businesses thrive and get back to what matters most to them. 
            </p>
            <p>
              Computate.org has been building custom data-driven websites for organizations around the world for 20 years. 
              Thanks to all kinds of advances in open source technology like Jupyter Notebooks in 
              VSCode, cloud development environments like Red Hat OpenShift Local and the Red Hat OpenShift Developer Sandbox, 
              and Computate's advanced code generation patterns and tools, 
              any passionate computer programmer can build their own custom data-driven website for their own business models. 
            </p>
            <p>
              Explore 
              computate.org's courses and products that allow him to scale his business. 
              This allows developers to build their website self-paced, 
              starting with the Computate Smart Cloud Deployer and then the Computate Smart Website Builder 
              for building your own business website backed by fine-grained authorization permissions to your various models and pages. 
              Computate can help you integrate payments and email notifications into your site as well. 
            </p>
            <p>
              Computate.org has cracked the code on writing code. 
              By writing a small amount of code with specific code instructions relevant to anyone’s business, 
              thousands of lines of additional code are automatically generated with Computate tools in the background. 
              The result is a working, extendable, asynchronous, reactive API, customizable web page templates, and dashboards for your data. 
              Computate data-driven websites automatically generate OpenAPI schemas, database schemas, 
              single sign-on authorization permissions, page layout, and more automatically. 
              This way you get the website you always wanted launched at last, and finally relax. 
            </p>
          </wa-card>

          <div class="wa-stack">
            <div class="wa-split">
              <h2 class="wa-heading-l wa-flank ">
                <i class="{{ FONTAWESOME_STYLE }} fa-road fa-3x "></i>
                <div>
                  The path to computer enlightenment
                </div>
              </h2>
              <a href="{{ SITE_BASE_URL }}/en-us/search/article" class="wa-cluster">
                <span>Browse all articles</span>
                <wa-icon name="arrow-right"></wa-icon>
              </a>
            </div>
            <p>
              Learn how to become a super-talented cloud software developer with this series of articles that I call, 
              "the path the computer enlightenment." 
            </p>
            <wa-carousel navigation pagination slides-per-page="2" slides-per-move="2" style="--aspect-ratio: initial">
              {% for article in pathToComputerEnlightenment %}
              <wa-carousel-item>
                <a href="{{ article.displayPage }}" class="wa-link-plain">
                  <wa-card with-image>
                    <div class="wa-frame:landscape" slot="media"{% if article.pageImageWidth %} style="aspect-ratio: {{ article.pageImageWidth }} / {{ article.pageImageHeight }}; "{% endif %}>
                      <wa-frame>
                        <img
                            src="{{ STATIC_BASE_URL }}{{ article.pageImageUri }}"
{%- if article.pageImageAlt is defined %}
                            alt="{{ article.name | e }}"
{%- endif %}
                            />
                      </wa-frame>
                    </div>
                    <div class="wa-stack wa-gap-xs">
                      <div class="wa-heading-m">{{ article.name | e }}</div>
                      <div class="wa-caption-m">{{ article.description | e }}</div>
                    </div>
                  </wa-card>
                </a>
              </wa-carousel-item>
              {% endfor %}
            </wa-carousel>
          </div>

          <div class="wa-stack">
            <div class="wa-split">
              <h2 class="wa-heading-l wa-flank ">
                <i class="{{ FONTAWESOME_STYLE }} fa-chalkboard-user fa-3x "></i>
                <div>
                  Free courses in cloud computing on your own computer
                </div>
              </h2>
              <a href="{{ SITE_BASE_URL }}/en-us/search/product" class="wa-cluster">
                <span>Browse all courses</span>
                <wa-icon name="arrow-right"></wa-icon>
              </a>
            </div>
            <wa-carousel navigation pagination slides-per-page="2" slides-per-move="2" style="--aspect-ratio: initial">
              {% for course in topCourses %}
              <wa-carousel-item>
                <a href="{{ course.displayPage }}" class="wa-link-plain">
                  <wa-card with-image>
                    <div class="wa-frame:landscape" slot="media"{% if course.pageImageWidth %} style="aspect-ratio: {{ course.pageImageWidth }} / {{ course.pageImageHeight }}; "{% endif %}>
                      <wa-frame>
                        <img
                            src="{{ STATIC_BASE_URL }}{{ course.pageImageUri }}"
{%- if course.pageImageAlt is defined %}
                            alt="{{ course.name | e }}"
{%- endif %}
                            />
                      </wa-frame>
                    </div>
                    <div class="wa-stack wa-gap-xs">
                      <div class="wa-heading-m">{{ course.name | e }}</div>
                      <div class="wa-caption-m">{{ course.description | e }}</div>
                    </div>
                  </wa-card>
                </a>
              </wa-carousel-item>
              {% endfor %}
            </wa-carousel>
          </div>

          <wa-card class="pink-purple-background wa-stack ">
            <div class="wa-stack main-content ">
              <div class="wa-flank">
                <i class="{{ FONTAWESOME_STYLE }} fa-conveyor-belt fa-5x "></i>
                <h1>
                  Latest available products: 
                </h1>
              </div>
              <p>
                Learn how to deploy open source smart device microservices to the cloud
                with the <a href="{{ SITE_BASE_URL }}/en-us/shop/product/computate-smart-cloud-deployer">Computate Smart Cloud Deployer</a> and <a href="{{ SITE_BASE_URL }}/en-us/shop/product/computate-smart-website-builder">Computate Smart Website Builder</a>. 
              </p>
              <div class="wa-grid" style="--min-column-size: 50ch">
                <div class="wa-grid">
                  {% for product in topProducts %}
                  <a href="{{ product.displayPage }}" class="wa-link-plain">
                    <wa-card>
                      <img slot="media"
                        src="{{ STATIC_BASE_URL }}{{ product.pageImageUri }}"
                        alt="{{ product.pageImageAlt | e }}"
                      />
                      <div class="wa-stack">
                        <div class="wa-flank:end wa-align-items-start wa-heading-m">
                          <span>{{ product.name }}</span>
                          <span>${{ product.price }}</span>
                        </div>
                        <em class="wa-caption-m">
                          {{ product.description }}
                        </em>
                      </div>
                    </wa-card>
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </wa-card>

        </div>
{% endblock %}
