{% extends "en-us/PageLayout.htm" %}
{% block htmTitlePageLayout %}
    <title>computate.org</title>
{% endblock %}
{% block htmBodyMiddlePageLayout %}
        <div class="wa-stack ">

          <wa-tooltip for="carousel-item-0" placement="left" hoist>Boston University researchers in Smart Cities meeting together in Boston with Red Hat and FIWARE. </wa-tooltip>
          <wa-tooltip for="carousel-item-1" placement="left" hoist>Hackathon with UNICEF at the Red Hat Tech Exchange 2018 in Orlando Florida, discovering the solution for the Multi-hop Mobility Challenge. </wa-tooltip>
          <wa-tooltip for="carousel-item-2" placement="left" hoist>The Smarta Byar Smart Village FIWARE iHub receiving an official certificate at the FIWARE Summit in Vienna, Austria in 2023. </wa-tooltip>
          <wa-tooltip for="carousel-item-3" placement="left" hoist>Hackathon for the ChRIS Project open compute medical imaging with Shaw University students in 2023. </wa-tooltip>
          <wa-tooltip for="carousel-item-4" placement="left" hoist>Remote hackathon with the Southern Coalition for Social Justice on Martin Luther King Jr. Day 2021 to kick off the development of the Open Data Policing website. </wa-tooltip>
          <wa-tooltip for="carousel-item-5" placement="left" hoist>Global outreach panel discussion at the FIWARE Summit in Vienna, Austria in 2023. </wa-tooltip>
          <wa-tooltip for="carousel-item-6" placement="left" hoist>FIWARE Cloud-to-Edge Hackathon with students from Shaw University, St. Augustine’s University, and North Carolina Central University in 2024. </wa-tooltip>

          <wa-carousel style="--aspect-ratio: 16/4; " autoplay loop navigation pagination autoplay-interval="5000">
            <wa-carousel-item>
              <a id="carousel-item-0" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/smartvillage/meet-our-team.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-1" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/social-innovation/unicef-hackathon-2018.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-2" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/fiware-ihub-certificate.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-3" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/shaw-university/shaw-hackathon-2023.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-4" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/png/social-innovation/mlk-day-hackathon-2021.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-5" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/fiware-summit-2023-vienna-panel.jpg">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-6" href="{{ SITE_BASE_URL }}/en-us/article/hackathons">
                <img src="{{ STATIC_BASE_URL }}/jpg/shaw-university/shaw-hackathon-2024.jpg">
              </a>
            </wa-carousel-item>
          </wa-carousel>

          <wa-card class="main-content ">
            <div>
              <img class="max-width-100" src="https://computate.neocities.org/svg/computate.org-keys.svg" alt="computate.org logo">
            </div>
            <p>
              Computate.org automates the open source software development of secure, data-driven websites 
              with advanced code generation software, helping Internet businesses thrive and get back to what matters most to them. 
            </p>
            <p>
              Computate.org has been building custom data-driven websites for organizations around the world for 20 years. 
              Thanks to all kinds of advances in open source technology like Jupyter Notebooks in 
              VSCode, cloud development environments like Red Hat OpenShift Local and the Red Hat OpenShift Developer Sandbox, 
              and Computate's advanced code generation patterns and tools, 
              any passionate computer programmer can build their own custom data-driven website for their own business models. 
            </p>
            <p>
              Explore 
              computate.org's courses and products that allow him to scale his business. 
              This allows developers to build their website self-paced, 
              starting with the Computate Smart Cloud Deployer and then the Computate Smart Website Builder 
              for building your own business website backed by fine-grained authorization permissions to your various models and pages. 
              Computate can help you integrate payments and email notifications into your site as well. 
            </p>
            <p>
              Computate.org has cracked the code on writing code. 
              By writing a small amount of code with specific code instructions relevant to anyone’s business, 
              thousands of lines of additional code are automatically generated with Computate tools in the background. 
              The result is a working, extendable, asynchronous, reactive API, customizable web page templates, and dashboards for your data. 
              Computate data-driven websites automatically generate OpenAPI schemas, database schemas, 
              single sign-on authorization permissions, page layout, and more automatically. 
              This way you get the website you always wanted launched at last, and finally relax. 
            </p>
          </wa-card>

          <wa-card class="purple-blue-background wa-stack ">
            <div class="wa-grid ">
              <div class="flex-item-left ">
                <div class="wa-stack ">
                  <div class="wa-flank ">
                    <i class="fa-kit fa-fiware fa-5x "></i>
                    <h1>
                      Latest available course: 
                    </h1>
                  </div>
                  <h2>
                    Free course for configuring IoT services and Smart Data Models with a FIWARE IoT Agent, Context Broker, and other event-driven microservices in a free Red Hat OpenShift Developer Sandbox
                    with the Smart Aquaculture Cloud Sandbox
                  </h1>
                </div>
              </div>
              <div class="flex-item-right ">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/2024-summit/technical-training.jpg"/>
              </div>
            </div>
            <wa-card class="main-content ">
              <div class="wa-stack ">
                <div>
                  This course was presented at the 
                  <a href="https://www.eventbrite.de/e/fiware-tech-training-naples-tickets-920143322447">FIWARE Summit Technical Training</a>
                  in Naples, Italy September 18 2024
                </div>
                <div>
                  <wa-button id="order-button" class="gradient-button orange-blue-background" variant="neutral" href="{{ SITE_BASE_URL }}/en-us/course/cloud-sandbox-powered-by-fiware">
                    <i class="fa-solid fa-person-running-fast"></i>
                    Get started
                  </wa-button>
                </div>
              </div>
            </wa-card>
          </wa-card>

          <wa-card class="pink-purple-background wa-stack ">
            <div class="wa-stack main-content ">
              <div class="wa-flank">
                <i class="fa-duotone fa-solid fa-conveyor-belt fa-5x "></i>
                <h1>
                  Latest available product: 
                </h1>
              </div>
              <h2>
                Learn how to deploy open source smart device microservices to the cloud
                with the Computate Smart Cloud Deployer
              </h2>
              <wa-card>
                <div>
                  <wa-button pill id="order-button" size="large" class="gradient-button pink-purple-background" href="{{ SITE_BASE_URL }}/en-us/product/computate-smart-cloud-deployer" variant="neutral">
                    <i class="fa-solid fa-person-running-fast"></i>
                    Learn more
                  </wa-button>
                </div>
              </wa-card>
            </div>
          </wa-card>

          <wa-card class="red-pink-background ">
            <div class="wa-stack main-content ">
              <div class="wa-flank ">
                <i class="fa-duotone fa-solid fa-video fa-2x "></i>
                <h1>
                  AI Telemetry Community Webinar
                </h1>
              </div>
              <h2 class="brand-font">
                Come learn how to Computate as we build a brand new custom data-driven platform 
                for AI/ML GPU Telemetry with 
                <i class="fa-brands fa-redhat fa-2xl fa-red" style="color: red; "></i>
                Red Hat Research in the New England Research Cloud! 
              </h2>
              <h3 class="brand-font">
                The AI Telemetry Community Webinar series will occur live weekdays from Sep 2, 2024 — Feb 28, 2025, 
                2 sessions in APAC time, 2 sessions in EMEA time, and 1 session in Americas time. 
              </h3>

              <wa-card>
                <div>
                  <wa-button pill id="order-button" size="large" class="gradient-button blue-teal-background" href="{{ SITE_BASE_URL }}/en-us/webinar/ai-telemetry-webinar" variant="neutral">
                    <i class="fa-solid fa-person-running-fast"></i>
                    Learn more
                  </wa-button>
                </div>
              </wa-card>

            </div>
          </wa-card>
        </div>
{% endblock %}
