<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="wa-{{ userSiteTheme | default(SITE_THEME) }} wa-theme-{{ userWebComponentsTheme | default(WEB_COMPONENTS_THEME) }} ">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SPINE Programming</title>

    {{ WEB_COMPONENTS_KIT }}

    <style>
      .content {
        max-width: 80ch;
        margin-inline: auto;
        padding-block-start: var(--wa-space-3xl);
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>SPINE Programming</h1>
      <p>By Christopher Tate</p>
      <p>Spine programming is a thing that exists sometimes when I feel like it.</p>
    </div>
  </body>
</html>