
<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="wa-cloak wa-{{ userSiteTheme | default(SITE_THEME) }} wa-theme-{{ userWebComponentsTheme | default(WEB_COMPONENTS_THEME) }} ">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SPINE Programming</title>
    {{ WEB_COMPONENTS_KIT }}
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site.css"/>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  </head>
  <body>
    <wa-page>
      <div class="wa-stack ">
        <h1>SPINE Programming</h1>
        <p>By Christopher Tate</p>
        <h2>
          AI Telemetry overview
        </h2>
        <div>
          AI Telemetry provides access control to Red Hat OpenShift Observability metrics at the project, cluster, hub, and custom tenant level. 
        </div>
        {{ typed('Build a search page and API for OpenShift projects'
            , 'search-project'
            , 'spine/ai-telemetry/search-project.txt'
            , 'spine/ai-telemetry/search-project-before.htm'
            , 'spine/ai-telemetry/search-project.htm'
            ) }}
      </div>
    </wa-page>
  </body>
</html>