{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleWeatherObservedPage %}
    <title>{{ result.title }}</title>
{%- endblock htmTitleWeatherObservedPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/weather-observed/WeatherObserved.css"/>
{%- block htmStylesWeatherObservedPage %}
{%- endblock htmStylesWeatherObservedPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleWeatherObservedPage %}
{%- endblock htmStyleWeatherObservedPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsWeatherObservedPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/weather-observed/WeatherObserved.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/weather-observed/WeatherObservedSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/weather-observed/WeatherObservedEditPage.js"></script>
{%- endblock htmScriptsWeatherObservedPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptWeatherObservedPage %}
    <script>

      function jsWebsocketWeatherObserved(entityShortId, vars, $response) {
{%- block jsWebsocketWeatherObservedPage %}{%- endblock %}
      }

      function jsTooltipWeatherObserved(e, feature) {
{%- block jsTooltipWeatherObservedPage %}{%- endblock %}
      }

      function htmTooltipWeatherObserved(feature, layer) {
        return `{%- block htmTooltipWeatherObservedPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.title}</a></h3>
{%- endblock htmTooltipWeatherObservedPage %}`;
      }

      function jsLegendWeatherObserved(map) {
{%- block jsLegendWeatherObservedPage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listWeatherObserved.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendWeatherObserved(map, shape, result, index, shapes.length);
            });
          }
          if(result.areaServed) {
            var shapes = [];
            if(Array.isArray(result.areaServed))
              shapes = shapes.concat(result.areaServed);
            else
              shapes.push(result.areaServed);
            shapes.forEach(function(shape, index) {
              htm += htmLegendWeatherObserved(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendWeatherObservedPage %}
      }

      function htmLegendWeatherObserved(map, shape, result, index, count) {
        var color = result.areaServedColors[index];
        var title = result.areaServedTitles[index];
        var url = result.areaServedLinks[index];
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendWeatherObservedPage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <i class="{{ FONTAWESOME_STYLE }} fa-circle" style="color: ${color}; "></i>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendWeatherObservedPage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleWeatherObserved(feature) {
{%- block jsStyleWeatherObservedPage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
            , contextmenu: true
            , contextmenuItems: [
              {
                text: 'Show coordinates'
                , callback: function(event) {
                  alert(event2.target.getLatLngs());
                }
              }
            ]
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleWeatherObservedPage %}
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {

        var entityShortId = {% if result.entityShortId is defined %}{{ result.entityShortId | tojson }}{% else %}null{% endif %};

        if(entityShortId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if entityShortId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listWeatherObserved')?.value;
        if(l)
          window.listWeatherObserved = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphWeatherObserved();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qWeatherObserved_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('WeatherObserved', event.target, document.querySelector('#qWeatherObservedDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qWeatherObserved_rows')?.addEventListener('wa-change', event => {
          paramChange('WeatherObserved', event.target, document.querySelector('#qWeatherObservedDiv_rows'));
        });

        document.querySelector('#qWeatherObserved_start')?.addEventListener('wa-change', event => {
          paramChange('WeatherObserved', event.target, document.querySelector('#qWeatherObservedDiv_start'));
        });


        var submitForm_patchWeatherObserved = document.querySelector('#htmForm_patchWeatherObserved')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchWeatherObserved')?.addEventListener('click', event => {
          event.preventDefault();
          patchWeatherObserved(null, document.querySelector('#htmForm_patchWeatherObserved'), document.querySelector('#htmFormButton_patchWeatherObserved'), event.target.getAttribute('data-entityShortId'));
          return false;
        });

        var submitForm_postWeatherObserved = document.querySelector('#htmForm_postWeatherObserved')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postWeatherObserved')?.addEventListener('click', event => {
          event.preventDefault();
          postWeatherObserved(document.querySelector('#htmForm_postWeatherObserved'), document.querySelector('#htmFormButton_postWeatherObserved'), (response, target) => { response.json().then((json) => { window.location.href = json.editPage; }); });
          return false;
        });

        var submitForm_deleteWeatherObserved = document.querySelector('#htmForm_deleteWeatherObserved')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteWeatherObserved')?.addEventListener('click', event => {
          event.preventDefault();
          deleteWeatherObserved(event.target, event.target.getAttribute('data-entityShortId'));
          return false;
        });

        var submitForm_putimportWeatherObserved = document.querySelector('#htmForm_putimportWeatherObserved')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportWeatherObserved')?.addEventListener('click', event => {
          event.preventDefault();
          putimportWeatherObserved(document.querySelector('#htmForm_putimportWeatherObserved'), document.querySelector('#htmFormButton_putimportWeatherObserved'));
          return false;
        });

        var submitForm_searchpageWeatherObserved = document.querySelector('#htmForm_searchpageWeatherObserved')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageWeatherObserved')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageWeatherObserved();
          return false;
        });

        var submitForm_deletefilterWeatherObserved = document.querySelector('#htmForm_deletefilterWeatherObserved')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterWeatherObserved')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterWeatherObserved(event.target);
          return false;
        });
      });
    </script>
{%- endblock htmScriptWeatherObservedPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketWeatherObservedPage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketWeatherObserved(websocketWeatherObservedInner);
{%- endblock websocketWeatherObservedPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlWeatherObservedPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlWeatherObservedPage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartWeatherObservedPage %}
{% if resultCount > 0 %}
          <div class="wa-flank ">
            <wa-tooltip for="return-to-WeatherObserved">back to all WeatherObserveds</wa-tooltip>
            <wa-button id="return-to-WeatherObserved" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
              all WeatherObserveds
            </wa-button>
            <h1 class="Page_title"><i class="fa-regular fa-cloud-bolt-sun"></i> {{ result.title | e }}</h1>
          </div>
          <div class="margin-block">
          </div>
{% include en-us/search/weather-observed/WeatherObservedSearchButtons.htm %}
{% include en-us/search/weather-observed/WeatherObservedSearchForm.htm %}
{% endif %}
{%- endblock htmBodyStartWeatherObservedPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleWeatherObservedPage %}
        <div class="main-content">
{% if resultCount == 0 %}
        {% if varsFqCount > 0 %}
        <wa-tooltip for="return-to-WeatherObserved">back to all WeatherObserveds</wa-tooltip>
          <wa-button id="return-to-WeatherObserved" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
            <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
            all WeatherObserveds
          </wa-button>
        </wa-tooltip>
        {% endif %}
        <h1><i class="fa-regular fa-cloud-bolt-sun"></i> <span>WeatherObserveds</span></h1>
{% include en-us/search/weather-observed/WeatherObservedSearchButtons.htm %}
{% include en-us/search/weather-observed/WeatherObservedSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no WeatherObserved found</span>
          </span>
        </h2>
{% else %}
{%- include en-us/search/weather-observed/WeatherObservedSidebar.htm %}
{%- include en-us/search/weather-observed/WeatherObservedSuggestedSearch.htm %}
{% endif %}
{%- block htmFormWeatherObservedPage %}
          <form action="/en-us/api/weather-observed" id="WeatherObservedForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
{% if entityShortId is defined %}
            <input name="entityShortId" class="valueEntityShortId" type="hidden" value="{{entityShortId}}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listWeatherObserved" id="listWeatherObserved" class="listWeatherObserved"  value='{{ toJsonArrayStringInApostrophes(listWeatherObserved) }}' type="hidden"/>
          </form>
  {% if solrId is defined %}
          {{ htmButton_searchpageWeatherObserved() }}
          {{ htmForm_searchpageWeatherObserved() }}
  {% endif %}
{%- endblock htmFormWeatherObservedPage %}
        </div>
{%- endblock htmBodyMiddleWeatherObservedPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndWeatherObservedPage %}
{%- endblock htmBodyEndWeatherObservedPage %}
{%- endblock htmBodyEndPageLayout %}
