{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.displayPage" content="{{ SITE_BASE_URL }}/en-us/view/webinar/computate-ai-developer-webinar"/>
    <meta name="result.name" content="Smart Aquaculture Community Webinar"/>
    <meta name="result.description" content="Learn how build and run artificial intelligence in the cloud and on your own computer, as we build open source projects like Smart Aquaculture! "/>
    <meta name="result.joinUrl" content="https://us06web.zoom.us/j/83982447662?pwd=ftKs6G59W9tbl7O9OaaJaD0p2HrWdi.1"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
