{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="Smart Aquaculture Community Webinar"/>
    <meta name="result.description" content="Learn how to Computate as we build the Smart Aquaculture open source project as an open source community with the Computate platform! "/>
    <meta name="result.joinUri" content="/en-us/join/webinar/{{ pageId }}"/>
    <meta name="result.courseNum" content="1"/>
    <meta name="result.icalUrl" content="https://user.fm/calendar/v1-700dac918aeb7b4646462481e3b36131/Smart%20Aquaculture%20Webinars.ics"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}

wa-button, wa-details {
  &::part(base) {
    background: linear-gradient(130deg, var(--wa-color-pink-50), var(--wa-color-purple-40));
    color: white;
    border: solid 1px var(--wa-color-pink-30);
  }
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="wa-stack pink-purple-background-headers ">

          <wa-card class="pink-purple-background main-content ">
            <div class="wa-stack ">
              <div class="wa-flank">
                <i class="fa-duotone fa-solid fa-video fa-2x "></i>
                <h1>{{ result.name }}</h1>
              </div>
              <h2 class="brand-font text-center">
                Come learn how to be a talented open source cloud application developer as we build a brand new custom data-driven platform 
                for Smart Aquaculture. 
              </h2>
              <wa-card>
                <div class="wa-flank ">
                  <wa-button variant="brand" label="Join the webinar" href="{{ result.joinUrl }}">
                    <i class="fa-solid fa-video" aria-hidden="true"></i>
                    Join the next webinar
                  </wa-button>
                  <div class="wa-flank ">
                    <wa-relative-time format="long" sync="true" date="{{ formatZonedDateTime(result.nextWebinar, "yyyy-MM-dd'T'HH:mm:ss.SSSX", defaultLocaleId, "UTC") }}"></wa-relative-time>
                    <wa-format-date weekday="short" month="short" day="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric" time-zone-name="short" date="{{ formatZonedDateTime(result.nextWebinar, "yyyy-MM-dd'T'HH:mm:ss.SSSX", defaultLocaleId, "UTC") }}"></wa-format-date>
                  </div>
                </div>
              </wa-card>
            </div>
          </wa-card>

          <wa-card with-header>
            <div slot="header" class="wa-flank">
              <i class="fa-duotone fa-solid fa-video fa-2x "></i>
              <h3>
                Watch the free Smart Aquaculture webinar on Zoom or live streaming to Youtube. 
              </h3>
            </div>
            <div class="wa-stack ">
              <div class="wa-flank">
                <p>
                  Watch the smart-aquaculture project use the Computate Smart Cloud Deployer to deploy all the required microservices to the cloud, 
                  then do live development adding new features to the smart-aquaculture project in OpenShift AI VSCode Java Workbench. 
                </p>
              </div>
              <h3 class="brand-font">
                The {{ name }} series will occur live on Monday, Tuesday, Wednesday, and Thursday at 1:30 pm Eastern US time. 
              </h3>
              <div id="webinar-calendar" class="wa-stack ">

                <div class="wa-flank zoom-link font-size-large">
                  <i class="fa-duotone fa-solid fa-earth-americas fa-xl"></i>
                  <div class="wa-flank ">
                    <wa-button id="webinar-button" class="gradient-button blue-teal-background" href="{{ CompanyWebinar.webinarUrlAmericas }}" variant="neutral">
                      <i class="fa-duotone fa-solid fa-video"></i>
                      Open Zoom
                    </wa-button>
                    <div>
                      <div class="font-size-x-small">
                        Monday 1:30 PM Eastern US time
                      </div>
                      <div class="font-size-x-small">
                        Tuesday 1:30 PM Eastern US time
                      </div>
                      <div class="font-size-x-small">
                        Thursday 1:30 PM Eastern US time
                      </div>
                      <div class="font-size-x-small">
                        Friday 1:30 PM Eastern US time
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </wa-card>

          <wa-card class="pink-purple-background background border-radius-x-large">
            <div class="intro-content">
              <h2 class="brand-font">
                <i class="fa-solid fa-computer-classic fa-2xl"></i> The Smart Aquaculture webinar is free to join! 
                Just click the link above to log in and get the Zoom link to the webinar. 
              </h2>
            </div>
          </wa-card>

          <wa-card>
            <wa-carousel class="aspect-ratio" autoplay loop navigation pagination>
              <wa-carousel-item>
                <wa-tooltip for="carousel-ai-telemetry-overview" placement="bottom">Smart Aquaculture Overview</wa-tooltip>
                <a id="carousel-ai-telemetry-overview" href="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-overview.png">
                  <img src="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-overview.png" alt="Smart Aquaculture Overview"/>
                </a>
              </wa-carousel-item>
              <wa-carousel-item>
                <wa-tooltip for="carousel-ai-telemetry-gpu-dashboard" placement="bottom">Smart Aquaculture GPU Dashboard</wa-tooltip>
                <a id="carousel-ai-telemetry-gpu-dashboard" href="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-gpu-dashboard.png">
                  <img src="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-gpu-dashboard.png" alt="Smart Aquaculture GPU Dashboard"/>
                </a>
              </wa-carousel-item>
              <wa-carousel-item>
                <wa-tooltip for="carousel-ai-telemetry-operators" placement="bottom">Smart Aquaculture Operators</wa-tooltip>
                <a id="carousel-ai-telemetry-operators" href="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-operators.png">
                  <img src="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-operators.png" alt="Smart Aquaculture Operators"/>
                </a>
              </wa-carousel-item>
              <wa-carousel-item>
                <wa-tooltip for="carousel-ai-telemetry-openapi" placement="bottom">Smart Aquaculture OpenAPI</wa-tooltip>
                <a id="carousel-ai-telemetry-openapi" href="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-openapi.png">
                  <img src="{{ STATIC_BASE_URL }}/webinar/ai-telemetry-webinar/ai-telemetry-openapi.png" alt="Smart Aquaculture OpenAPI"/>
                </a>
              </wa-carousel-item>
            </wa-carousel>
          </wa-card>

          <wa-card>
            <div class="summary">
              <h2 class="brand-font anchor-heading" id="whats-web-awesome">
                What is the {{ result.name }}?
              </h2>
              <p>
                Develop a platform for reporting on AI/ML cluster and GPU device usage data and performing telemetry on AI/ML workloads through a secure dashboard and API.
              </p>

              <div class="summary-grid">

                <div>
                  <div class="wa-flank ">
                    <i class="fa-solid fa-microchip"></i>
                    <h3>
                      GPU Utilization
                    </h3>
                  </div>
                  <p>
                    We wish to help researchers and managers of GPU devices in the New England Research Cloud (NERC) shared computing environment understand how the valueable and limited GPU resources are being utilized. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-solid fa-shield-check"></i>
                    <h3>
                      Access Control
                    </h3>
                  </div>
                  <p>
                    We will provide access to researchers and managers through Keycloak and various identity providers like GitHub and University SSO to access the AI Cluster data and research project GPU allocation telemetry through a modern open source platform that will be built for the MOC and usable by other organizations wishing to collect the same telemetry. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-solid fa-server"></i>
                    <h3>
                      Where it's built
                    </h3>
                  </div>
                  <p>
                    The New England Research Cloud is a perfect environment for AI/ML related research. 
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-solid fa-keyboard"></i>
                    <h3>
                      Development Team
                    </h3>
                  </div>
                  <p>
                    Other Red Hat associates outside of Red Hat Research have also been invited to participate in building the platform through the Red Hat Internal Gig Program.
                  </p>
                </div>

                <div>
                  <div class="wa-flank ">
                    <i class="fa-solid fa-code"></i>
                    <h3>
                      Where's the code?
                    </h3>
                  </div>
                  <p>
                    The Smart Aquaculture project is a public open source project on GitHub. 
                    Read the docs and fork the source code, it's all available here: 
                    <br/><a href="https://github.com/OCP-on-NERC/ai-telemetry">https://github.com/OCP-on-NERC/ai-telemetry</a>
                  </p>
                </div>

              </div>
            </div>
          </wa-card>

          <wa-card class="blue-teal-background background border-radius-x-large ">
            <div class="intro-content">
              <h3>
                You can add our {{ result.name }} calendar to your calender with the ICS calendar link below. 
              </h3>
              <div>
                <a class="word-break-all " href="https://user.fm/calendar/v1-1f13180574907ff09a03a3f56d315984/RH%20Research%20AI%20Telemetry%20Webinars.ics">
                  https://user.fm/calendar/v1-1f13180574907ff09a03a3f56d315984/RH%20Research%20AI%20Telemetry%20Webinars.ics
                </a>
              </div>
            </div>
          </wa-card>

        </div>
{% endblock %}
