{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
            <wa-divider></wa-divider>
            <div id="htmButtonGroup" class="round-first-and-last-column-pill ">
    {% if resultCount == 1 %}              <wa-button id="refreshThisUseCaseGenPage"
                   onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisUseCaseGenPage')); }, function() { addError(document.querySelector('#refreshThisUseCaseGenPage')); }); return false; ">
                <i slot="prefix" class="fas fa-sync-alt "></i>
                refresh
              </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
              <wa-button id="refreshAllUseCaseGenPage{{id}}"
                   onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllUseCaseGenPage{{id}}')); }, function() { addError(document.querySelector('#refreshAllUseCaseGenPage{{id}}')); }); "
                  >
                <i slot="prefix" class="fa-kit fa-solid-arrows-rotate-rotate"></i>
                Refresh all 
              </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {%- if resultCount > 0 %}
    {{ htmButton_patchUseCase() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount == 1 %}
    {%- if id is defined %}
      {{ htmButton_postUseCase() }}
    {%- else %}
      {{ htmButton_postUseCase() }}
    {%- endif %}
  {%- else %}
    {{ htmButton_postUseCase() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportUseCase() }}
{%- endif %}

{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {%- if resultCount > 0 %}
    {{ htmForm_patchUseCase() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount == 1 %}
    {%- if id is defined %}
      {{ htmForm_postUseCase() }}
    {%- else %}
      {{ htmForm_postUseCase() }}
    {%- endif %}
  {%- else %}
    {{ htmForm_postUseCase() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportUseCase() }}
{%- endif %}
