{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.url" content="https://research.redhat.com/blog/research_project/prototyping-a-distributed-asynchronous-workflow-for-iterative-near-term-ecological-forecasting/"/>
    <meta name="result.name" content="PEcAn Ecological Forecasting in the Cloud"/>
    <meta name="result.description" content="Prototyping a Distributed, Asynchronous Workflow for Iterative Near-Term Ecological Forecasting"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
