{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleSwitchToLinuxPage %}
    <title>{% if resultCount == 0 %}no Switch to Linux found{% else %}Switch to Linux{% endif %}</title>
{%- endblock htmTitleSwitchToLinuxPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/switch-to-linux/SwitchToLinux.css"/>
{%- block htmStylesSwitchToLinuxPage %}
{%- endblock htmStylesSwitchToLinuxPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleSwitchToLinuxPage %}
{%- endblock htmStyleSwitchToLinuxPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsSwitchToLinuxPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/switch-to-linux/SwitchToLinux.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/switch-to-linux/SwitchToLinuxSearchPage.js"></script>
{%- endblock htmScriptsSwitchToLinuxPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptSwitchToLinuxPage %}
    <script>

      function jsWebsocketSwitchToLinux(pageId, vars, $response) {
{%- block jsWebsocketSwitchToLinuxPage %}{%- endblock %}
      }

      function jsTooltipSwitchToLinux(e, feature) {
{%- block jsTooltipSwitchToLinuxPage %}{%- endblock %}
      }

      function htmTooltipSwitchToLinux(feature, layer) {
        return `{%- block htmTooltipSwitchToLinuxPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipSwitchToLinuxPage %}`;
      }

      function facetChangeSwitchToLinuxSuccess(e) {
        var l = e.querySelector('.pageForm .listSwitchToLinux')?.value;
        if(l)
          window.listSwitchToLinux = JSON.parse(l);
{% block facetChangeSwitchToLinuxSuccess %}{%- endblock facetSwitchToLinuxSuccess %}
      }
      function facetChangeSwitchToLinuxError(e) {
{% block facetChangeSwitchToLinuxError %}{%- endblock facetSwitchToLinuxError %}
      }

      function facetSimpleRangeSwitchToLinuxSuccess(e) {
{% block facetSimpleRangeSwitchToLinuxSuccess %}      facetChangeSwitchToLinuxSuccess(e);{% endblock facetSimpleRangeSwitchToLinuxSuccess %}
      }
      function facetSimpleRangeSwitchToLinuxError(e) {
{% block facetSimpleRangeSwitchToLinuxError %}      facetChangeSwitchToLinuxError(e);{% endblock facetSimpleRangeSwitchToLinuxError %}
      }
      function facetSimpleRangeSwitchToLinux(e) {
        facetSimpleRange(e, facetSimpleRangeSwitchToLinuxSuccess, facetSimpleRangeSwitchToLinuxError);
      }

      function facetRangeTimeZoneSwitchToLinuxSuccess(e) {
{% block facetRangeTimeZoneSwitchToLinuxSuccess %}      facetChangeSwitchToLinuxSuccess(e);{% endblock facetRangeTimeZoneSwitchToLinuxSuccess %}
      }
      function facetRangeTimeZoneSwitchToLinuxError(e) {
{% block facetRangeTimeZoneSwitchToLinuxError %}      facetChangeSwitchToLinuxError(e);{%- endblock facetRangeTimeZoneSwitchToLinuxError %}
      }
      function facetRangeTimeZoneSwitchToLinux(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneSwitchToLinuxSuccess, facetRangeTimeZoneSwitchToLinuxError);
      }

      function facetRangeGapChangeSwitchToLinuxSuccess(e) {
{% block facetRangeGapChangeSwitchToLinuxSuccess %}      facetChangeSwitchToLinuxSuccess(e);{% endblock facetRangeGapChangeSwitchToLinuxSuccess %}
      }
      function facetRangeGapChangeSwitchToLinuxError(e) {
{% block facetRangeGapChangeSwitchToLinuxError %}      facetChangeSwitchToLinuxError(e);{%- endblock facetRangeGapChangeSwitchToLinuxError %}
      }
      function facetRangeGapChangeSwitchToLinux(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeSwitchToLinuxSuccess, facetRangeGapChangeSwitchToLinuxError);
      }

      function facetRangeStartChangeSwitchToLinuxSuccess(e) {
{% block facetRangeStartChangeSwitchToLinuxSuccess %}      facetChangeSwitchToLinuxSuccess(e);{% endblock facetRangeStartChangeSwitchToLinuxSuccess %}
      }
      function facetRangeStartChangeSwitchToLinuxError(e) {
{% block facetRangeStartChangeSwitchToLinuxError %}      facetChangeSwitchToLinuxError(e);{%- endblock facetRangeStartChangeSwitchToLinuxError %}
      }
      function facetRangeStartChangeSwitchToLinux(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeSwitchToLinuxSuccess, facetRangeStartChangeSwitchToLinuxError);
      }

      function facetRangeEndChangeSwitchToLinuxSuccess(e) {
{% block facetRangeEndChangeSwitchToLinuxSuccess %}      facetChangeSwitchToLinuxSuccess(e);{% endblock facetRangeEndChangeSwitchToLinuxSuccess %}
      }
      function facetRangeEndChangeSwitchToLinuxError(e) {
{% block facetRangeEndChangeSwitchToLinuxError %}      facetChangeSwitchToLinuxError(e);{%- endblock facetRangeEndChangeSwitchToLinuxError %}
      }
      function facetRangeEndChangeSwitchToLinux(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeSwitchToLinuxSuccess, facetRangeEndChangeSwitchToLinuxError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listSwitchToLinux')?.value;
        if(l)
          window.listSwitchToLinux = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneSwitchToLinux);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneSwitchToLinux);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneSwitchToLinux);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeSwitchToLinux);
        pageGraphSwitchToLinux();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qSwitchToLinux_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('SwitchToLinux', event.target, document.querySelector('#qSwitchToLinuxDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qSwitchToLinux_rows')?.addEventListener('change', event => {
          paramChange('SwitchToLinux', event.target, document.querySelector('#qSwitchToLinuxDiv_rows'));
        });

        document.querySelector('#qSwitchToLinux_start')?.addEventListener('change', event => {
          paramChange('SwitchToLinux', event.target, document.querySelector('#qSwitchToLinuxDiv_start'));
        });


        var submitForm_patchSwitchToLinux = document.querySelector('#htmForm_patchSwitchToLinux')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchSwitchToLinux')?.addEventListener('click', event => {
          event.preventDefault();
          patchSwitchToLinux(null, document.querySelector('#htmForm_patchSwitchToLinux'), document.querySelector('#htmFormButton_patchSwitchToLinux'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postSwitchToLinux = document.querySelector('#htmForm_postSwitchToLinux')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postSwitchToLinux')?.addEventListener('click', event => {
          event.preventDefault();
          postSwitchToLinux(document.querySelector('#htmForm_postSwitchToLinux')
          , document.querySelector('#htmFormButton_postSwitchToLinux')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteSwitchToLinux = document.querySelector('#htmForm_deleteSwitchToLinux')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteSwitchToLinux')?.addEventListener('click', event => {
          event.preventDefault();
          deleteSwitchToLinux(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportSwitchToLinux = document.querySelector('#htmForm_putimportSwitchToLinux')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportSwitchToLinux')?.addEventListener('click', event => {
          event.preventDefault();
          putimportSwitchToLinux(document.querySelector('#htmForm_putimportSwitchToLinux'), document.querySelector('#htmFormButton_putimportSwitchToLinux'));
          return false;
        });

        var submitForm_searchpageSwitchToLinux = document.querySelector('#htmForm_searchpageSwitchToLinux')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageSwitchToLinux')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageSwitchToLinux();
          return false;
        });

        var submitForm_deletefilterSwitchToLinux = document.querySelector('#htmForm_deletefilterSwitchToLinux')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterSwitchToLinux')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterSwitchToLinux(event.target);
          return false;
        });
{%- block htmScriptInitSwitchToLinuxPage %}{%- endblock htmScriptInitSwitchToLinuxPage %}
      });
    </script>
{%- endblock htmScriptSwitchToLinuxPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketSwitchToLinuxPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketSwitchToLinux(websocketSwitchToLinuxInner);
{% endif %}
{%- endblock websocketSwitchToLinuxPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlSwitchToLinuxPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlSwitchToLinuxPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-SwitchToLinux">back to all Switch to Linux</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-SwitchToLinux" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-brands fa-linux"></i>
                  all Switch to Linux
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search Switch to Linux
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartSwitchToLinuxPage %}
{% include en-us/search/switch-to-linux/SwitchToLinuxSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-SwitchToLinux">back to all Switch to Linux</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-SwitchToLinux" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-brands fa-linux"></i>
              all Switch to Linux
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no Switch to Linux found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-brands fa-linux"></i>
            </div>
            <span class="wa-heading-m ">no Switch to Linux found</span>
            <p class="wa-caption-l ">Learn how to switch to Linux to run and develop open source cloud applications in OpenShift Local on your own computer. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/switch-to-linux/SwitchToLinuxSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/switch-to-linux" id="SwitchToLinuxForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listSwitchToLinux" id="listSwitchToLinux" class="listSwitchToLinux"  value='{{ toJsonArrayStringInApostrophes(listSwitchToLinux) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/switch-to-linux/SwitchToLinuxSearchForm.htm %}
{%- endblock htmBodyStartSwitchToLinuxPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/switch-to-linux/SwitchToLinuxSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/switch-to-linux/SwitchToLinuxSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleSwitchToLinuxPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/switch-to-linux/SwitchToLinuxPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-name">
                      <wa-button variant="brand" slot="trigger" caret>course name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSwitchToLinux_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SwitchToLinux').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by course name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSwitchToLinux_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SwitchToLinux').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by course name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>course description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSwitchToLinux_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SwitchToLinux').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by course description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortSwitchToLinux_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-SwitchToLinux').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by course description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listSwitchToLinux%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="fa-brands fa-linux"></i>
                      <span>{{ item.name | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span class="white-space-pre-wrap ">{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/switch-to-linux/SwitchToLinuxPaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleSwitchToLinuxPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndSwitchToLinuxPage %}
{%- include en-us/search/switch-to-linux/SwitchToLinuxLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndSwitchToLinuxPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
