{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="All about Christopher Tate"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
wa-card header div.wa-grid img {
  width: 100%;
}
{% endblock htmStylePageLayout %}
{% block htmBodyMiddlePageLayout %}
        <wa-card with-header>
          <header slot="header" class="wa-stack ">
            <div class="wa-grid wa-gap-0 ">
              <div class="wa-stack wa-gap-0 ">
                <img class="w3-image w3-hover-opacity " src="{{ STATIC_BASE_URL }}/jpg/idaho-winter.jpg">
                <img class="w3-image w3-hover-opacity " src="{{ STATIC_BASE_URL }}/jpg/utah-mountains2.jpg">
              </div>
              <div class="wa-stack wa-gap-0 ">
                <img class="w3-image w3-hover-opacity " src="{{ STATIC_BASE_URL }}/jpg/utah-mountains.jpg">
              </div>
              <div class="wa-stack wa-gap-0 ">
                <img class="w3-image w3-hover-opacity " src="{{ STATIC_BASE_URL }}/jpg/idaho.jpg">
                <img class="w3-image w3-hover-opacity " src="{{ STATIC_BASE_URL }}/jpg/quebec.jpg">
              </div>
              <div class="wa-stack wa-gap-0 ">
                <img class="w3-image w3-hover-opacity " src="{{ STATIC_BASE_URL }}/jpg/france.jpg">
              </div>
            </div>
          </header>
          <div class="wa-stack main-content ">
            <div>
              <img class="max-width-100" src="https://computate.neocities.org/svg/computate-keys.svg" alt="computate logo">
            </div>
            <div>
              <h1>{{ result.name }}</h1>
              <p>
                Christopher Tate (known as computate on <a href="https://github.com/computate"><i class="fa-brands fa-github"></i>GitHub</a>) is a Red Hat Principal Software Engineer and a forever open source software developer. 
                He also: 
              </p>
              <ul>
                <li>
                  advocates for open standards together with Red Hat enterprise open source software in the Cloud
                </li>
                <li>
                  created the Computate Smart Cloud Deployer and Website Builder software
                </li>
                <li>
                  is a lead software engineer for logging, metrics, alerts, and AI/ML smart data research projects in the New England Research Cloud environment
                </li>
                <li>
                  created the Smart Village Operator and Smart Village Platform on Red Hat OpenShift, deploying all things FIWARE including Context Brokers, IoT Agents, and Smart Data Models
                </li>
                <li>
                  is an architect of the Red Hat Social Innovation Program
                </li>
                <li>
                  founded the Smarta Byar Smart Village Community FIWARE Innovation Hub
                </li>
              </ul>

              <br />

              <p>
                Christopher Tate is a software engineer and consultant with 20 years of professional experience
                delivering data-driven applications into production. His current focus at Red Hat has been
                building a solution for AI Telemetry and cloud observability dashboards with fine-grained access
                control. Christopher also loves social innovation, and has made significant contributions to
                FIWARE open source IoT smart device technology standards together with Red Hat Cloud and
                Edge enterprise open source technology through the Smarta Bar Smart Village FIWARE iHub

                he founded between Red Hat and Boston University. Other applications he has built and
                deployed to production include humanitarian project tracking, e-commerce, self-service portals,
                digital archives, virtual machine online training experiences, financial services payments and
                credit card promotions and adjustments, smart villages, and ecological forecasting.
              </p>

              <h2>
                <i class="fas fa-globe-americas"></i>
                Where are you from?
                I am from Utah (and a wanderer at heart).
              </h2>

              <p>
                I love spending time in the great outdoors with my family.
                I've also lived in Florida, Idaho, Ontario, Quebec and France.
                I love the time I lived and worked in other countries, and the ways open source software brings the world together.
                I know the challenges of building good software systems in non-English speaking countries.
              </p>

              <h2>
                <i class="fas fa-save"></i>
                How did you learn computer programming?
                A love for computers all my life.
              </h2>

              <p>
                My dad has been a Lotus Notes database programmer as long as I can remember.
                He always had a nice computer with the latest Microsoft suite at home for the family to use.
                I spent hours every day figuring out everything I could possibly do on the computer.
                I became familiar with every application, every directory, every file, every menu item, every keyboard shortcut.
                I asked my dad many important questions, like: "how do I write code?" and "How do I make a database?"
                I was then gifted a large Visual Basic manual, and he pointed me to Microsoft Access.
              </p>

              <h2>
                <i class="fas fa-keyboard"></i>
                How did you start working as a computer programmer?
                I had the drive to finish each project, and be at the next opportunity to grow my career.
              </h2>

              <p>
                I started writing calculator programs and games on my TI-86 calculator.
                I went on to study Computer Science at University.
                At the same time, I became the part time computer guy for a local humanitarian organization, doing my best to solve world problems with databases.
                After graduation, I started as a Software Consultant and worked on many exciting projects at large companies.
                After 5 years, I had the opportunity to take a job in France, where I worked with a tiny company, which specialized in open source search technology, specifically Lucene.
                I then worked with a Linux training company in Utah where I became very familiar with the whys of the origin of Linux.
                My love for consulting, my experience, and being at the right place at the right time then led me to Red Hat.
              </p>

              <h2>
                <i class="fab fa-linux"></i>
                How did you become so passionate about open source?
                I love the freedom to build upon greatness.
              </h2>

              <p>
                I met my first Linux computer at the University Linux computer lab, where I figured only the noble wizards of computer programming lived and slept.
                Around the same time, my cousin introduced me to Linux, and gave me some encouragement to try it myself.
                One night, after realizing that Microsoft and the .NET Framework would forsake me after graduation with exorbitant fees, I made the switch.
                I backed up my digital life on an expensive zip disk from the bookstore and installed Ubuntu Linux, wiping Microsoft out of my personal life forever.
                I never looked back, and never regretted that decision. 
              </p>
            </div>
          </div>
        </wa-card>
{% endblock %}
