{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="All about computate.org"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <wa-card with-header>
          <header slot="header">
            <div class="main-content ">
              <img class="max-width-100" src="https://computate.neocities.org/svg/computate.org-keys.svg" alt="computate logo">
            </div>
          </header>
          <div class="wa-stack ">
            <div class="main-content ">
              <h1>{{ result.name }}</h1>
              <p>
                Christopher runs computate.org, an open source software company providing advanced tools
                for building data-driven websites with OpenAPIs and fine-grained authorization standards, for
                the last 20 years. The sovereign artificial intelligence of Computate software automatically
                watches code for changes, parses the code and code comments, indexes the code in a search
                engine, then generates the code you need based on the comments in the code. The Smart
                Aquaculture use case built with Computate software has an index of the hundreds of FIWARE
                Smart Data Models to automatically write an IoT application for many domains including smart
                Cities, agri-food, water, environment, energy and more. Computate provides online developer
                workbenches for building these applications, and can teach software developers how to build
                these solutions from the beginning, all the way to the cloud or the edge. Working in this way is
                fun and easy to get started, because the containerized dependencies are all taken care of in the
                online workbench. Developers will see and debug their running application on the Web, and
                learn how to build custom dashboards for their data using modern web components.
              </p>
            </div>
          </div>
        </wa-card>
{% endblock %}
