{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.uri" content="/en-us/article/{{ pageId }}" />
    <meta name="result.title" content="Deploy smart cloud microservices" />
{% endblock htmMetaPageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="intro-content ">
          <wa-card>
            <div>
              <h1 class="icon-heading ">
                The path to computer enlightenment
              </h1>
              <div class="font-style-italic">
                Created Mon Sep 30 2024
              </div>
              <p>
                <div class="font-weight-bold">
                  By Christopher Tate </div>
                <div class="font-weight-bold font-style-italic icon-heading ">
                  <i class="fa-brands fa-redhat w3-text-red"></i>
                  <span class="font-weight-bold">Red Hat Principal Software Engineer</span>
                </div>
              </p>
            </div>
            <ol>
              <li>
                <a href="{{ SITE_BASE_URL }}/en-us/article/become-an-open-source-developer">
                  Become an open source developer
                </a>
              </li>
              <li>
                <a href="{{ SITE_BASE_URL }}/en-us/article/choose-your-operating-system">
                  Choose your operating system
                </a>
              </li>
              <li>
                <a href="{{ SITE_BASE_URL }}/en-us/article/switch-to-linux">
                  Switch to Linux
                </a>
              </li>
              <li>
                <a href="{{ SITE_BASE_URL }}/en-us/article/run-openshift-local-cloud-environment">
                  Run OpenShift Local cloud environment
                </a>
              </li>
              <li>
                <a href="{{ SITE_BASE_URL }}/en-us/article/deploy-smart-cloud-microservices">
                  Deploy smart cloud microservices
                </a>
              </li>
              <li>
                <a href="{{ SITE_BASE_URL }}/en-us/article/build-your-own-data-driven-website">
                  Build-your-own-data-driven-website
                </a>
              </li>
            </ol>
          </wa-card>
        </div>
{% endblock %}