{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="The path to computer enlightenment" />
    <meta name="result.description" content="Learn why open source operating systems like Linux are more useful for software development than proprietary operating systems. " />
    <meta name="result.authorName" content="Christopher Tate" />
    <meta name="result.authorUrl" content="{{ SITE_BASE_URL }}/en-us/learn/about/about-christopher-tate" />
    <meta name="result.created" content="2024-09-30T21:50:36.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/png/c-key.png" />
    <meta name="result.pageImageAlt" content="The Computate logo with a C key from a keyboard" />
    <meta name="result.relatedArticleIds" content="become-an-open-source-software-developer, become-a-red-hat-developer" />
    <meta name="result.labelsString" content="path-to-computer-enlightenment" />
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleArticle %}
{{ articleImage(result) }}
    <p>
      Welcome to computate.org, a place to learn how to use that computer. 
      I've been using a computer since I was a toddler back in 1985. 
      If you don't believe  me, here is a photo of me. 
    </p>
    <wa-card>
      <img slot="prefix" src="{{ STATIC_BASE_URL }}/jpg/chris-growing-up.jpg"/>
    </wa-card>
    <p>
      My dad was a <i class="fa-duotone fa-regular fa-database"></i> database programmer, and he taught me about databases growing up. 
      I built a <i class="fa-brands fa-microsoft"></i> Microsoft Access database of the Christmas and birthday gifts I wanted. 
      It was a very effective way to share what I wanted. 
      That was back before I had access to the Internet. 
      It was before I knew how to build a website. 
    </p>
    <p>
      My cousin knew how to build a <i class="fa-duotone fa-regular fa-browser"></i> website. 
      He lived far away from me growing up, but we both loved computers. 
      I wanted to learn how to build a website like him, but it was many years later before I did. 
    </p>
    <p>
      My cousin and me grew up and went to the same <i class="fa-duotone fa-regular fa-building-columns"></i> University. 
      We both studied Computer Science at University in 2005. 
      We were learning assembly language, C++, Java, and C# in our classes. 
      He also taught me about computer networking, routers, and IP addresses. 
    </p>
    <p>
      I figured out how to run a website for my sister and her hunting consulting company. 
      The website was completely written in <i class="fa-duotone fa-regular fa-file-xml"></i> XML. 
      The website used XSLT to transform XML into XHTML. 
      The website also could create new XML files, thus creating my very first data-driven website. 
      The website wasn't secure, but it did work for the company thanks to some ugly secrets. 
    </p>
    <p>
      I was able to run the website with Apache. 
      The website ran at our shared university apartment with 5 other roomates including my cousin. 
      We had a static IP address, and I configured our <i class="fa-duotone fa-regular fa-router"></i> router to forward http traffic on port 80 to Apache running on my laptop. 
    </p>
    <p>
      He also convinced me that I should switch to <i class="fa-brands fa-linux"></i> Linux. 
      I was running Microsoft Windows. 
      I decided to buy a Zip Disk, download Ubuntu, and format the hard drive on my laptop. 
      I installed the latest Ubuntu Linux image at the time. 
    </p>
    <p>
      From there, I've spent the last 20 years learning how to become a successful cloud application developer. 
      I've been developing and running websites for various companies for the last 20 years as well. 
      I've been able to develop from scratch and deploy these kind of data-driven websites to production, even at one of the largest 5 banks in the United States. 
      I want to teach you how to do the same, using the same tools, skills, and standards. 
      I want to teach you the path to computer enlightenment. 
    </p>
    <ol>
      <li>
        <a href="{{ SITE_BASE_URL }}/en-us/view/article/become-an-open-source-software-developer">
          <i class="fa-brands fa-github"></i>
          Become an open source software developer
        </a>
      </li>
      <li>
        <a href="{{ SITE_BASE_URL }}/en-us/view/article/become-a-red-hat-developer">
          <i class="fa-brands fa-github"></i>
          Become a Red Hat Developer
        </a>
      </li>
      <li>
        <a href="{{ SITE_BASE_URL }}/en-us/view/article/choose-your-operating-system">
          <i class="fa-brands fa-redhat"></i>
          Choose your operating system
        </a>
      </li>
      <li>
        <a href="{{ SITE_BASE_URL }}/en-us/view/article/switch-to-linux">
          <i class="fa-brands fa-linux"></i>
          Switch to Linux
        </a>
      </li>
      <li>
        <a href="{{ SITE_BASE_URL }}/en-us/view/article/purchase-your-own-computer">
          <i class="fa-kit fa-openshift"></i>
          Purchase your own computer
        </a>
      </li>
    </ol>
{% endblock %}