{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.url" content="https://www.opendatapolicingnc.com/"/>
    <meta name="result.name" content="Open Data Policing — Southern Coalition for Social Justice"/>
    <meta name="result.description" content="The site currently aggregates, visualizes, and publishes public records related to all known traffic stops to have occurred in North Carolina since 2002"/>
    <meta name="result.websiteNum" content="3"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
