{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.displayPage" content="https://rerc.southerncoalition.org/"/>
    <meta name="result.name" content="Racial Equity Report Cards — Southern Coalition for Social Justice"/>
    <meta name="result.description" content="The RERCs use public data to provide a snapshot of a community’s school-to-prison pipeline, including any racial disproportionalities that exist in the pipeline. There is a Report Card for each of the state’s 115 school districts and one for the state as a whole."/>
    <meta name="result.websiteNum" content="2"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
