{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.displayPage" content="https://smaq.computate.org/"/>
    <meta name="result.name" content="Smart Aquaculture — seafood supply chain traceability"/>
    <meta name="result.description" content="The site is for reporting on the supply chain of fish populations, fishing operations, all the way through sea food processing and use of net-zero waste to measure the health of fishing operations around the world. "/>
    <meta name="result.websiteNum" content="4"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
