{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.displayPage" content="https://www.trailblazehunt.com/"/>
    <meta name="result.name" content="Trail Blaze Hunting Consultants"/>
    <meta name="result.description" content="Here at Trail Blaze Hunting Consultants we offer Landowner Deer, Elk and Antelope tags from Colorado, New Mexico, Utah and Nevada. We also have great Trespass Do-it-yourself unguided hunts on private property for Elk, Deer, Antelope and other species in Colorado, New Mexico, Idaho, Utah, Nevada and other western states. If you're after fully guided hunts we have you covered as we work with some of the elite outfitters here in the west. "/>
    <meta name="result.websiteNum" content="1"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
