{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="Introduction to SPINE Programming" />
    <meta name="result.description" content="Learn how to become a SPINE Programmer building data-driven websites and increase your developer productivity up to 4900%. " />
    <meta name="result.authorName" content="Christopher Tate" />
    <meta name="result.authorUrl" content="{{ SITE_BASE_URL }}/en-us/learn/about/about-christopher-tate" />
    <meta name="result.created" content="2026-01-07T21:12:25.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/png/spine-programming-lesson-model.png" />
    <meta name="result.pageImageAlt" content="SPINE Programming lesson model Java Class" />
    <meta name="result.importance" content="0" />
    <meta name="result.nextArticleIds" content="spine-programming-prerequisites" />
    <meta name="result.courseNum" content="0"/>
    <meta name="result.lessonNum" content="0"/>
{% endblock htmMetaPageLayout %}
{% block htmScriptsPageLayout %}
{{ super()}}
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
{% endblock htmScriptsPageLayout %}
{% block htmBodyMiddleArticle %}
{{ articleImage(result) }}

    <div class="content-padding-inline wa-stack wa-gap-3xl ">
      <div class="wa-stack ">

        <wa-tooltip for="carousel-item-0" placement="left" hoist>Presenting our SPINE Programming Theory research paper to the NEDSI community. </wa-tooltip>
        <wa-tooltip for="carousel-item-1" placement="left" hoist>Christopher Tate and Dewayne Branch at last year's NEDSI 2025 research conference in Hershey, Pennsylvania. </wa-tooltip>

        <wa-card>
          <h2 slot="header">
            <i class="fa-kit fa-spine"></i>
            SPINE Programming Theory presented at NEDSI 2026 conference Fri Apr 10, 2026
          </h2>
          <wa-carousel style="--aspect-ratio: 16/4; " autoplay loop navigation pagination autoplay-interval="5000">
            <wa-carousel-item>
              <img id="carousel-item-0" src="{{ STATIC_BASE_URL }}/png/smaq-spine-programming.png">
            </wa-carousel-item>
            <wa-carousel-item>
              <img id="carousel-item-1" src="{{ STATIC_BASE_URL }}/jpg/nedsi-conference-2025.jpg">
            </wa-carousel-item>
          </wa-carousel>

          <p>
            Join us in Philadelphia, PA Thu Apr 9 - Sat Apr 11, 2026 at the NEDSI 2026 conference, 
            with other scholars and practitioners interested in the application of 
            quantitative and behavioral methods to the problems of society through emerging technology. 
          </p>
          <p>
            We will be presenting SPINE Programming Theory, 
            a form of on-device, local, sovereign AI code indexing and open source code generation of data-driven websites and digital twins. 
          </p>
          <p>
            You can read the API Code Generation of Zero Trust, Data-driven Websites, Digital Twins with SPINE Programming Theory research paper here. 
          </p>
          <div class="wa-stack wa-align-items-center ">
            <p>
              <wa-button variant="brand" target="_blank" href="https://docs.google.com/document/d/1whyZNMopmAQ14XZCxC_qfswcBgrmaKoRRcFUvy6GNLw/edit?usp=sharing">
                <i class="{{ FONTAWESOME_STYLE }} fa-file-lines"></i>
                Read SPT research paper
              </wa-button>
            </p>
            <p>
              <wa-button variant="brand" target="_blank" href="https://docs.google.com/presentation/d/145PVu1LKcv6SduYq8WrUahX1mbv0CHLEiOhQJhRUls8/edit?usp=sharing">
                <i class="{{ FONTAWESOME_STYLE }} fa-presentation-screen"></i>
                View the SPT slides
              </wa-button>
            </p>
            <p>
              <wa-button variant="brand" target="_blank" href="https://www.youtube.com/live/2MinHZ2M74M?si=_r0xAdI7vM_Wxv-1">
                <i class="{{ FONTAWESOME_STYLE }} fa-clapperboard-play"></i>
                Watch SPT presentation
              </wa-button>
            </p>

            <wa-card with-header>
              <div slot="header">
                <div class="wa-flank ">
                  <i class="fa-duotone fa-regular fa-conveyor-belt fa-8x "></i>
                  <div>
                    <h2 class="brand-font anchor-heading">
                      About the conference
                      Generative AI to Enhance Supply Chain Resilience
                    </h2>
                  </div>
                </div>
              </div>
              <div class="wa-stack ">
                <div>
                  <p>
                    The 2026 conference theme, Future of Decision Sciences: Complexity, Innovation, Sustainability, invites us to reflect critically and constructively on the evolution of our field and the role it must play in addressing modern organizational and societal challenges. 
                    The program will feature a vibrant mix of paper sessions, panel discussions, interactive workshops, and student posters, with an emphasis on interdisciplinary collaboration and real-world application. 
                    A NEDSI conference is a forum for scholars and practitioners to present their research in their areas of expertise and interlace into new horizons, 
                    it is where salient networking occurs, and friendships are made for a lifetime. 
                  </p>
                </div>
              </div>
            </wa-card>
          </div>
        </wa-card>
      </div>
      <h2>
        <i class="fa-kit fa-spine"></i>
        How SPINE Programming works
      </h2>
      {{ typed('SPINE Programming is a form of on-device, local, sovereign AI code indexing and open source code generation of data-driven websites and digital twins. '
          , 'data-driven-websites'
          , 'spine/introduction/data-driven-websites.txt'
          , 'spine/introduction/search-project-before.htm'
          , 'spine/introduction/search-page.htm'
          , modelJsonTemplate='spine/introduction/FishingBoat.json'
          ) }}
      {{ typed('Any Java class can become a SPINE program by extending a non-existent super class that will be generated after the code is saved. '
          , 'extend-non-existent-super-class'
          , 'spine/introduction/extend-non-existent-super-class.txt'
          ) }}
      {{ typed('A class can become a Spine data model by adding class comments with YAML rules describing language context, persistence, caching, APIs and web pages for creating, patching, deleting, and viewing models, with authorization groups and scopes for fine-grained access control. '
          , 'create-data-model'
          , 'spine/introduction/create-data-model.txt'
          , 'spine/introduction/search-project-before.htm'
          , 'spine/introduction/search-page.htm'
          , modelJsonTemplate='spine/introduction/FishPopulation.json'
          ) }}
      {{ typed('This process of SPINE Programming, development, self-documentation, code indexing, and code generation lets developers focus on business logic, allowing the models, backend APIs and interfaces, HTML page templates, OpenAPI specification, and database schema to be generated entirely as AI generated code. '
          , 'ai-generated-code'
          , 'spine/introduction/ai-generated-code.txt'
          ) }}
      {{ typed('All SPINE Programming models, backend APIs, and HTML templates are built with inheritance, with additional classes and templates automatically created for developers to override any part of the AI generated code, and implement additional business logic on top of the default APIs. '
          , 'built-with-inheritance'
          , 'spine/introduction/built-with-inheritance.txt'
          ) }}
      {{ typed('On average, SPINE Programmers write 2% - 4% of the project’s code by hand, and the other 96% - 98% of the code is AI generated, resulting in 33 to 50 times faster software development. '
          , 'hand-written-ai-generated'
          , 'spine/introduction/hand-written-ai-generated.txt'
          ) }}
      {{ typed('SPINE Programming is a recursive acronym that stands for "SPINE Programming is not easy" because of the depth of knowledge required to be a SPINE Programmer—which is the purpose of these lessons, to explain the actions programmers can take to "Solve Problems In Neat Expressions" and increase their software development productivity by 4900% entirely on their own computer. '
          , 'spine-programming'
          , 'spine/introduction/spine-programming.txt'
          ) }}
    </div>
{% endblock %}
