{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="Containers, Kubernetes and Red Hat OpenShift Technical Overview"/>
    <meta name="result.description" content="An introduction to managing containerized applications using Kubernetes and Red Hat OpenShift. " />
    <meta name="result.authorName" content="Red Hat"/>
    <meta name="result.authorUrl" content="https://www.redhat.com/" />
    <meta name="result.created" content="2026-03-27T12:02:42.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/png/containers-and-openshift-technical-overview.png" />
    <meta name="result.pageImageAlt" content="Containers, Kubernetes and Red Hat OpenShift Technical Overview" />
    <meta name="result.prerequisiteArticleIds" content="become-a-red-hat-developer" />
    <meta name="result.nextArticleIds" content="computer-requirements-for-openshift-local" />
    <meta name="result.courseNum" content="4"/>
    <meta name="result.displayPage" content="https://www.redhat.com/en/services/training/do080-deploying-containerized-applications-technical-overview" />
{% endblock htmMetaPageLayout %}
