{% extends "en-us/CompanyProduct.htm" %}
{% import "en-us/dialog/product/dialog-computate-smart-cloud-deployer.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta name="result.name" content="Computate Smart Cloud Deployer"/>
    <meta name="result.description" content="Learn how to deploy open source smart device microservices to the cloud and try out your own secure IoT smart platform with built-in security. "/>
    <meta name="result.pageImageUri" content="/webinar/ai-telemetry-webinar/ai-telemetry-overview.png" />
    <meta name="result.pageImageAlt" content="Custom data-driven website for managing GPU device data" />
    <meta name="result.downloadUrl" content="https://github.com/computate-org/computate-smart-cloud-deployer/" />
    <meta name="result.productNum" content="99"/>
    <meta name="result.price" content="4096.00"/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleCompanyProduct %}
{% endblock htmBodyMiddleCompanyProduct %}
