{% extends "en-us/CompanyProduct.htm" %}
{% import "en-us/dialog/product/dialog-computate-smart-cloud-deployer.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta name="result.name" content="Computate Smart Cloud Deployer"/>
    <meta name="result.description" content="Learn how to deploy open source smart device microservices to the cloud and try out your own secure IoT smart platform with built-in security. "/>
    <meta name="result.pageImageUri" content="/webinar/ai-telemetry-webinar/ai-telemetry-overview.png" />
    <meta name="result.pageImageAlt" content="Custom data-driven website for managing GPU device data" />
    <meta name="result.downloadUrl" content="https://github.com/computate-org/computate-smart-cloud-deployer/" />
    <meta name="result.productNum" content="99"/>
    <meta name="result.price" content="4096.00"/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleCompanyProduct %}

<div class="wa-stack main-content ">
  <div class="wa-heading-2xl ">
    {{ result.name }}
  </div>
  {% if userName is defined and scopes is defined and "GET" in scopes -%}
  <p>
    {{ result.description | e }}
  </p>
  <wa-card>
    <div class="wa-stack ">
      <div>Download your copy of the {{ result.name }}. </div>
      <div>
        <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.downloadUrl }}" target="_blank" variant="neutral">
          <i class="fa-duotone fa-regular fa-person-running-fast"></i>
          Download
        </wa-button>
      </div>
    </div>
  </wa-card>
  {% include result.dialogTemplate %}
  {% else %}
  <div class="wa-stack ">
    <form id="formAuthorizeNet" name="formAuthorizeNet" method="post" action="{{ AUTHORIZE_NET_URL }}/payment/payment">
      <input type="hidden" name="token" value="{{ hostedPaymentResponseToken | e }}" />
      <wa-button type="submit" id="btnContinue">
        Buy now for ${{ result.price }}
      </wa-button>
    </form>
  </div>
  <a class="wa-link-plain " href="{{ result.displayPage }}" id="dialog-card-link-{{ result.pageId }}">
    <wa-card with-image style="height: 100%" class="hover-card">
      <div class="wa-frame:landscape wa-border-radius-l "{% if result.pageImageWidth %} style="aspect-ratio: {{ result.pageImageWidth }} / {{ result.pageImageHeight }}; "{% endif %}>
        <img
            slot="media"
            src="{{ STATIC_BASE_URL }}{{ result.pageImageUri }}"
            {% if result.pageImageAlt is defined %}
            alt="{{ result.pageImageAlt | e }}"
            {% endif %}
            />
      </div>
      <div class="margin-block-start ">
        <h3>{{ result.name | e }}</h3>
        <p class="wa-caption-l">
          {{ result.description | e }}
        </p>
        <p>
          {% if result.price == "0.00" %}
          This is Free!
          {% else %}
          This costs <code><wa-format-number type="currency" currency="USD" value="{{ result.price }}" lang="en-US"></wa-format-number></code>
          {% endif %}
        </p>
      </div>
    </wa-card>
  </a>
  {% include result.dialogTemplate %}
  <div class="wa-stack ">
    <form id="formAuthorizeNet" name="formAuthorizeNet" method="post" action="{{ AUTHORIZE_NET_URL }}/payment/payment">
      <input type="hidden" name="token" value="{{ hostedPaymentResponseToken | e }}" />
      <wa-button type="submit" id="btnContinue">
        Buy now for ${{ result.price }}
      </wa-button>
    </form>
  </div>
</div>
{% endif %}
{% endblock htmBodyMiddleCompanyProduct %}
