{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="Deploy Smart Aquaculture on OpenShift Local" />
    <meta name="result.description" content="How to get started for free with OpenShift Local and deploying the Smart Aquaculture platform with GitOps. " />
    <meta name="result.authorName" content="Christopher Tate" />
    <meta name="result.authorUrl" content="{{ SITE_BASE_URL }}/en-us/learn/about/about-christopher-tate" />
    <meta name="result.created" content="2025-08-29T12:23:40.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/smart-aquaculture-static/webawesome/png/smart-aquaculture-rhsummit-fish-populations.png" />
    <meta name="result.pageImageAlt" content="Smart Aquaculture dashboard with fish populations data" />
    <meta name="result.prerequisiteArticleIds" content="computer-requirements-for-smart-aquaculture-development, install-openshift-local-on-your-computer" />
    <meta name="result.importance" content="512" />
    <meta name="result.productNum" content="2"/>
    <meta name="result.price" content="0"/>
    <meta name="result.userPage" content="https://smaq.computate.org/en-us/view/article/deploying-smart-aquaculture-on-openshift-local"/>
{% endblock htmMetaPageLayout %}
