{% extends "en-us/CompanyProduct.htm" %}
{% import "en-us/dialog/product/dialog-smart-aquaculture-developer.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta name="result.name" content="Smart Aquaculture Developer"/>
    <meta name="result.description" content="Learn the skills of a professional cloud application developer, building smart data-driven applications to solve ecological data problems with the {{ result.name }}"/>
    <meta name="result.pageImageUri" content="/smart-aquaculture-static/webawesome/png/smart-aquaculture-enterprise-dashboard.png" />
    <meta name="result.pageImageAlt" content="Screenshot of the Smart Aquaculture platform" />
    <meta name="result.downloadUrl" content="https://github.com/computate-org/smart-aquaculture-developer/" />
    <meta name="result.productNum" content="4"/>
    <meta name="result.price" content="512.00"/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleCompanyProduct %}

{% endblock htmBodyMiddleCompanyProduct %}
