{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta name="result.name" content="Smart Aquaculture Developer"/>
    <meta name="result.description" content="Learn the skills of a professional cloud application developer, building smart data-driven applications to solve ecological data problems with the {{ result.name }}"/>
    <meta name="result.productNum" content="4"/>
    <meta name="result.price" content="512.00"/>
    <meta name="result.pageImageUri" content="/smart-aquaculture-static/webawesome/png/smart-aquaculture-enterprise-dashboard.png" />
    <meta name="result.pageImageAlt" content="Screenshot of the Smart Aquaculture platform" />
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}

wa-button::part(base), wa-details::part(base) {
  background: linear-gradient(130deg, var(--wa-color-pink-50), var(--wa-color-purple-40));
  color: white;
  &:is(wa-button, wa-dialog)::part(base) {
    border: solid 1px var(--wa-color-pink-30);
  }
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ result.title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmScriptsPageLayout %}
{{ super() }}
<script type="module">
  Promise.all([
    customElements.whenDefined('wa-button')
    , customElements.whenDefined('wa-input')
  ]).then(() => {
    document.querySelector('#dialog-button-{{ result.pageId }}').addEventListener('click', (event) => (document.querySelector('#dialog-{{ result.pageId }}').open = true));
    document.querySelector('#dialog-card-link-{{ result.pageId }}').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#dialog-{{ result.pageId }}').open = true;
      return false;
    });
  });
</script>
{% endblock htmScriptsPageLayout %}
{% block htmBodyMiddlePageLayout %}

<div class="wa-stack main-content ">
  <div class="wa-heading-2xl ">
    {{ result.name }}
  </div>
  {% if userName is defined and scopes is defined and "GET" in scopes -%}
  <div class="wa-stack pink-purple-background-headers ">
    <wa-card class="pink-purple-background ">
      <div class="main-content ">
        <h1>
          {{ result.name | e }}
        </h1>
        <p>
          {{ result.description | e }}
        </p>
        <wa-card>
          <div class="wa-stack ">
            <div>Download your copy of the {{ result.name }}! </div>
            <div>
              <wa-button id="order-button" class="gradient-button pink-purple-background" href="{{ result.downloadUrl }}" variant="neutral">
                <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                Download
              </wa-button>
            </div>
          </div>
        </wa-card>
      </div>
    </wa-card>
  </div>
  {% else %}
  <div class="wa-stack ">
    <form id="formAuthorizeNet" name="formAuthorizeNet" method="post" action="{{ AUTHORIZE_NET_URL }}/payment/payment">
      <input type="hidden" name="token" value="{{ hostedPaymentResponseToken | e }}" />
      <wa-button type="submit" id="btnContinue">
        Buy now at authorize.net
      </wa-button>
    </form>
  </div>
  <a class="wa-link-plain " href="{{ result.displayPage }}" id="dialog-card-link-{{ result.pageId }}">
    <wa-card with-image style="height: 100%" class="hover-card">
      <div class="wa-frame:landscape wa-border-radius-l "{% if result.pageImageWidth %} style="aspect-ratio: {{ result.pageImageWidth }} / {{ result.pageImageHeight }}; "{% endif %}>
        <img
            slot="media"
            src="{{ STATIC_BASE_URL }}{{ result.pageImageUri }}"
            {% if result.pageImageAlt is defined %}
            alt="{{ result.pageImageAlt | e }}"
            {% endif %}
            />
      </div>
      <div class="margin-block-start ">
        <h3>{{ result.name | e }}</h3>
        <p class="wa-caption-l">
          {{ result.description | e }}
        </p>
        <p>
          {% if result.price == "0.00" %}
          This is Free!
          {% else %}
          This costs <code><wa-format-number type="currency" currency="USD" value="{{ result.price }}" lang="en-US"></wa-format-number></code>
          {% endif %}
        </p>
      </div>
    </wa-card>
  </a>
  {% include result.dialogTemplate %}
  {{ paymentCallouts(result) }}
  <div class="wa-stack ">
    <form id="formAuthorizeNet" name="formAuthorizeNet" method="post" action="{{ AUTHORIZE_NET_URL }}/payment/payment">
      <input type="hidden" name="token" value="{{ hostedPaymentResponseToken | e }}" />
      <wa-button type="submit" id="btnContinue">
        Buy now at authorize.net
      </wa-button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
