{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
            <wa-divider></wa-divider>
            <div id="htmButtonGroup" class="round-first-and-last-column-pill ">
    {% if resultCount == 1 %}              <wa-button id="refreshThisSiteUserGenPage"
                   onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisSiteUserGenPage')); }, function() { addError(document.querySelector('#refreshThisSiteUserGenPage')); }); return false; ">
                <i slot="prefix" class="fas fa-sync-alt "></i>
                refresh
              </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
              <wa-button id="refreshAllSiteUserGenPage{{id}}"
                   onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllSiteUserGenPage{{id}}')); }, function() { addError(document.querySelector('#refreshAllSiteUserGenPage{{id}}')); }); "
                  >
                <i slot="prefix" class="fa-kit fa-solid-arrows-rotate-rotate"></i>
                Refresh all 
              </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {%- if resultCount > 0 %}
    {{ htmButton_patchSiteUser() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount == 1 %}
    {%- if pk is defined %}
      {{ htmButton_postSiteUser() }}
    {%- else %}
      {{ htmButton_postSiteUser() }}
    {%- endif %}
  {%- else %}
    {{ htmButton_postSiteUser() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportSiteUser() }}
{%- endif %}

{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {%- if resultCount > 0 %}
    {{ htmForm_patchSiteUser() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount == 1 %}
    {%- if pk is defined %}
      {{ htmForm_postSiteUser() }}
    {%- else %}
      {{ htmForm_postSiteUser() }}
    {%- endif %}
  {%- else %}
    {{ htmForm_postSiteUser() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportSiteUser() }}
{%- endif %}
